<h4>Hai domande?</h4>
<form method="POST" action="https://formspree.io/team@kite-mallorca.com" target="_blank">
  <input type="email" name="_replyto" placeholder="Il tuo indirizzo email" required>
  <input type="hidden" name="_subject" value="Informazioni corsi kitesurf / noleggio">
  <textarea name="body" placeholder="Scrivi qui le tue domande"></textarea>
  <span>Lasciaci il tuo nome e numero di telefono per ricevere aggiornamenti gratuiti su vento e spot durante la tua vacanza.</span><br>
  <input type="hidden" name="_next" value="{{ site.url }}/it/thanks/">
  <input type="submit" value="Invia">
</form>
<span>
  Oppure scrivici direttamente a:
  <p class="backforward">moc.acrollam-etik@maet</p>
</span>
