<div id="chatlinks"></div>
<h4>Any questions?</h4>
<form method="POST" action-xhr="https://formspree.io/team@kite-mallorca.com" target="_blank">
  <input type="email" name="_replyto" placeholder="Your email address" required>
  <input type="hidden" name="_subject" value="Information regarding kitesurfing lessons and/or rental">
  <textarea name="body" placeholder="Write here your questions"></textarea>
  <span>Write us your name and mobile number and we will keep you posted on wind- and spot info during your stay. This service is free of charge.</span><br><br>
  <input type="hidden" name="_next" value="{{ site.url }}/amp/en/thanks">
  <input type="submit" value="Send">
    <div submit-success>
      <template type="amp-mustache">
        Your form was not send, please click again on Send.
      </template>
    </div>
    <div submit-error>
      <template type="amp-mustache">
        Many thanks for your inquiry. We will process it in the next few hours and will get back to you.
      </template>
    </div>

</form>
<span>
  Or send us an email to
  <p class="backforward">moc.acrollam-etik@maet</p>
</span>