<div class="calltoaction">
	    {% assign lang = site.data.texts[page.lang] %}
	<span class="centered"><strong>OUR LESSONS IN KITESURFING</strong></span>
	    {% if page.buchung != true %}
	<div class="centered">
	    <a class="btn-fixonbottom" href="{{site.baseurl }}/{{ lang.calltoactionlink }}">{{ lang.calltext }}</a>
	</div>
	    {% endif %}
		<ul>
			<li><a href="{{site.baseurl }}/{{page.lang }}/{{ page.t.link20 }}" title="Book here your Tryout lessons">Tryout course, 3 hs / 1 day</a></li>
			<li><a href="{{site.baseurl }}/{{page.lang }}/{{ page.t.link21 }}" title="Book here your Basic course">Basic course, 10 hs / 3-5 days</a></li>
			<li><a href="{{site.baseurl }}/{{page.lang }}/{{ page.t.link22 }}" title="Book here your further lessons">Further lessons, what you need</a></li>
			<li><a href="{{site.baseurl }}/{{page.lang }}/{{ page.t.link23 }}" title="Book here your hydrofoil course">Hydrofoil course, min. 2 hs</a></li>
			<li><a href="{{site.baseurl }}/{{page.lang }}/{{ page.t.link24 }}" title="Book here your privat lessons, one to one with your teacher">Privatlessons, what you like</a></li>
		</ul><br />
	{% if page.amp == true %}
	{% else %}
	{% endif %}
</div>