<p>For message with Facebook click on picture<a href="https://m.me/kitesurfmallorca">
{% if page.amp == true %}
<amp-img class="centered" width="258" height="194" layout="responsive" src="{{ site.baseurl }}/images/gerhard-und-daniel.jpg" alt="Picture from Daniel and Gerhard"></amp-img>
{% else %}
<img class="centered" width="100%"src="{{ site.baseurl }}/images/gerhard-und-daniel.jpg" alt="Picture from Daniel and Gerhard"" />
{% endif %}
</a></p>
<h4 class="centered">For more information:</h4>
<h6 class="centered"><a href="{{ site.baseurl }}/en/contact-us">Daniel &amp; Gerhard</a> <br /><a href="tel:+34696264729">+34-696-264729</a><br /></h6>
<p class="backforward">moc.acrollam-etik@maet</p>