<h4  class="centered">KITE-MALLORCA</h4>
<h6  class="centered">official member of <br />
{% if page.amp == true %}
<amp-img src="{{ site.baseurl }}/images/logos/VDWS-Logo.gif" alt="Logo from VDWS, international kitesurfing association" width="300" height="120"></amp-img>
{% else %}
<img class="lazyload" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{ site.baseurl }}/images/logos/VDWS-Logo.gif" border="0" alt="Logo from VDWS, international kitesurfing association" /></h6>
{% endif %}
</h6>