
<div>
{% assign lang = site.data.texts[page.lang] %}
<p><strong>{{ lang.testimonial }}</strong></p>
</div>
<div class="carousel-wrapper" itemprop="Review" itemscope itemtype="http://schema.org/Review">
    <div  itemprop="itemReviewed" itemscope itemtype="http://schema.org/Place">
        <meta itemprop="name" content="Kitesurf Mallorca SL - International Kitesurf Center" />             
        <meta itemprop="url" content="http://kite-mallorca.com"/>
        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"> 
        <meta itemprop="streetAddress" content="Carrer Greco 19" />
        <meta itemprop="addressLocality" content="Alcudia, Mallorca" />
        <meta itemprop="postalCode" content="07400" />
        <meta itemprop="addressRegion" content="Islas Baleares" />
        <meta  itemprop="addressCountry" content="Spain" />
        </div>
    </div> 
    {% for item in site.data.testimonials.lang[page.lang] %}
      <span id="target-item-{{ forloop.index }}"></span>
    {% endfor %}
    {% for item in site.data.testimonials.lang[page.lang] %} 
  <div class="carousel-item item-{{ forloop.index }}">
          <div class="review">
              <div itemprop="author" itemscope itemtype="http://schema.org/Person">
                      <meta itemprop="url" content="{{ item.author_link }}"/>
                      <span itemprop="name">{{ item.person }}</span>
              {% if page.amp == true %}
              <div>
              <amp-img class="avatar" src="{{ item.avatar_img }}" alt="avatar" height="100" width="100"></amp-img>
              </div>
              {% else %}
              <div class="b-lazy avatar" data-src="{{ item.avatar_img }}"></div>
              {% endif %}
              </div>
              <div class="rating" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                    <meta itemprop="ratingValue" content="{{ item.quote }}"/>
                    <meta property="bestRating" content="5"/>
                    <meta property="worstRating" content="1"/>
                    {% assign var = item.quote plus 0 %}
                    {% for i in (1..5) plus 0 %}
                    {% if i <= var %}
                      <span class="quote">★</span>
                    {% else %}
                      <span class="quote">☆</span>
                    {% endif %}
                    {% endfor %}
                    <strong class="golden">({{ item.quote }}/5)</strong>
                    <meta  property="ratingValue" content="{{ item.quote }}/5"/>
              </div>
              <div class="review-body" itemprop="reviewBody">
                <p>{{ item.review }}</p>
                  <a href="{{ item.org_link }}" target="_blank" rel="nofollow">{{ lang.org_link }}{{ item.review_at }}</a>
              </div>
          </div> 
        {% if forloop.index == 1 %}
        <a class="b-lazy arrow arrow-prev" href="#target-item-{{ forloop.length }}"></a>
        {% else %}
        <a class="b-lazy arrow arrow-prev" href="#target-item-{{ forloop.index | minus:1 }}"></a>
        {% endif %}
        {% if forloop.last == true %}
        <a class="b-lazy arrow arrow-next" href="#target-item-1"></a>
        {% else %}
        <a class="b-lazy arrow arrow-next" href="#target-item-{{ forloop.index | plus:1 }}"></a>
        {% endif %}
  </div>
      {% endfor %}
</div>
<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
 Rated <span itemprop="ratingValue">4.5</span>/5
 based on <span itemprop="reviewCount">52</span> customer reviews on Google+, Facebook and Tripadvisor
</div>
