
<div>
{% assign lang = site.data.texts[page.lang] %}
<p><strong>{{ lang.testimonial }}</strong></p>
</div>
<div class="carousel-wrapper">

  <svg style="position: absolute; width: 0; height: 0; overflow: hidden" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <symbol id="arrow" viewBox="0 0 32 32">
    <title>arrow</title>
  <path d="M16 32c8.837 0 16-7.163 16-16s-7.163-16-16-16-16 7.163-16 16 7.163 16 16 16zM16 3c7.18 0 13 5.82 13 13s-5.82 13-13 13-13-5.82-13-13 5.82-13 13-13z"></path>
  <path d="M20.914 9.914l-2.829-2.829-8.914 8.914 8.914 8.914 2.828-2.828-6.086-6.086z"></path>
  </symbol>
  </svg>

    {% for item in site.data.testimonials.lang[page.lang] %}
      <span id="target-item-{{ forloop.index }}"></span>
    {% endfor %}
    {% for item in site.data.testimonials.lang[page.lang] %}
        <script type="application/ld+json">
            {
              "@context": "https://schema.org/",
              "@type": "Review",
              "itemReviewed": {
                "@type": "LocalBusiness",
                "image": "https://kite-mallorca.com/images/gerhard-und-daniel.jpg",
                "name": "Legal Seafood",
                "priceRange": "$$",
                "telephone": "+34-696-264-729",
                "address" :{
                  "@type": "PostalAddress",
                  "streetAddress": "Calle del Greco 19",
                  "addressLocality": "Alcudia",
                  "addressRegion": "Balearic Island",
                  "postalCode": "07400",
                  "addressCountry": "Spain"
                }
              },
              "reviewRating": {
                "@type": "Rating",
                "ratingValue": "{{ item.quote }}"
              },
              "author": {
                "@type": "Person",
                "name": "{{ item.person }}"
              },
              "reviewBody": "{{ item.review }}",
              "publisher": {
                "@type": "Organization",
                "name": "{{ item.review_at }}"
              }
            }
        </script> 
    <div class="carousel-item item-{{ forloop.index }}">
        <div class="review">
            <div>
               <span itemprop="name">{{ item.person }}</span>
              {% if page.amp == true %}
                <div>
                  <amp-img class="avatar" src="{{ item.avatar_img }}" alt="avatar" height="100" width="100"></amp-img>
                </div>
              {% else %}
                <div class="avatar lazyload" data-bg="{{ item.avatar_img }}"></div>
              {% endif %}
            </div>
            <div class="rating">
                    {% assign var = item.quote plus 0 %}
                    {% for i in (1..5) plus 0 %}
                    {% if i <= var %}
                      <span class="quote">★</span>
                    {% else %}
                      <span class="quote">☆</span>
                    {% endif %}
                    {% endfor %}
                    <strong class="golden">({{ item.quote }}/5)</strong>
            </div>
            <div class="review-body">
                <p>{{ item.review }}</p>
                  <a href="{{ item.org_link }}" target="_blank" rel="nofollow">{{ lang.org_link }}{{ item.review_at }}</a>
            </div>
        </div> 
        {% if forloop.index == 1 %}
        <a href="#target-item-{{ forloop.length }}"><svg class="icon arrow arrow-l"><use xlink:href="#arrow"></use></svg></a>
        {% else %}
        <a href="#target-item-{{ forloop.index | minus:1 }}"><svg class="icon arrow arrow-l"><use xlink:href="#arrow"></use></svg></a>
        {% endif %}
        {% if forloop.last == true %}
        <a href="#target-item-1"><svg class="icon arrow arrow-r"><use xlink:href="#arrow"></use></svg></a>
        {% else %}
        <a href="#target-item-{{ forloop.index | plus:1 }}"><svg class="icon arrow arrow-r"><use xlink:href="#arrow"></use></svg></a>
        {% endif %}
    </div>
      {% endfor %}
</div>
  <div>
    <strong>
       Rated <span>4.6</span>/5
       based on <span>95</span> customer reviews on Google, Facebook and Tripadvisor
    </strong>
  </div>
   
