    <script type="text/javascript">
        /* function JSAtOnload5() {
        var element = document.createElement("link");
            element.src = "{{ site.url }}/css/main.css";
        document.body.appendChild(element);
        }
        if (window.addEventListener)
        window.addEventListener("load", JSAtOnload5, false);
        else if (window.attachEvent)
        window.attachEvent("onload", JSAtOnload5);
        else window.onload = JSAtOnload5; */

        function JSAtOnload1() {
        var element = document.createElement("script");
            element.src = "{{ site.url }}/js/modernizr.js";
        document.body.appendChild(element);
        }
        if (window.addEventListener)
        window.addEventListener("load", JSAtOnload1, false);
        else if (window.attachEvent)
        window.attachEvent("onload", JSAtOnload1);
        else window.onload = JSAtOnload1;

       function JSAtOnload2() {
        var element = document.createElement("script");
            element.src = "{{ site.url }}/js/analytics.js";
        document.body.appendChild(element);
        }
        if (window.addEventListener)
        window.addEventListener("load", JSAtOnload2, false);
        else if (window.attachEvent)
        window.attachEvent("onload", JSAtOnload2);
        else window.onload = JSAtOnload2;

        function JSAtOnload3() {
        var element = document.createElement("script");
            element.src = "{{ site.url }}/js/menuaus.js";
        document.body.appendChild(element);
        }
        if (window.addEventListener)
        window.addEventListener("load", JSAtOnload3, false);
        else if (window.attachEvent)
        window.attachEvent("onload", JSAtOnload3);
        else window.onload = JSAtOnload3;

        function JSAtOnload4() {
        var element = document.createElement("script");
            element.src = "{{ site.url }}/js/lazysizes.min.js";
        document.body.appendChild(element);
        }
        if (window.addEventListener)
        window.addEventListener("load", JSAtOnload4, false);
        else if (window.attachEvent)
        window.attachEvent("onload", JSAtOnload4);
        else window.onload = JSAtOnload4;

        function JSAtOnload6() {
        var element = document.createElement("script");
            element.src = "{{ site.url }}/js/cookieconsent.min.js";
        document.body.appendChild(element);
        }
        if (window.addEventListener)
        window.addEventListener("load", JSAtOnload6, false);
        else if (window.attachEvent)
        window.attachEvent("onload", JSAtOnload6);
        else window.onload = JSAtOnload6;
       
    </script>
