<footer id="site-footer">
  {% include multibutton.html %}


<div class="footer_box">

{% if page.amp == true %}
		<a rel="nofollow" href="{{site.baseurl }}/amp/{{page.lang }}/{{ page.t.link6 }}" title="{{ page.t.menutxt6 }}" >{{ page.t.menutxt6 }}</a>
{% else %}
		<a rel="nofollow" href="{{site.baseurl }}/{{page.lang }}/{{ page.t.link6 }}" title="{{ page.t.menutxt6 }}" >{{ page.t.menutxt6 }}</a>
		<a href="{{site.baseurl }}/{{page.lang }}/{{ page.t.link9 }}" title="{{ page.t.menutxt9 }}" >{{ page.t.menutxt9 }}</a>
		<a href="{{site.baseurl }}/{{page.lang }}/{{ page.t.link3 }}" title="{{ page.t.menutxt3 }}" >{{ page.t.menutxt3 }}</a>
		<a href="{{site.baseurl }}/{{page.lang }}/{{ page.t.link5 }}" title="{{ page.t.menutxt5 }}" >{{ page.t.menutxt5 }}</a>
{% endif %}
    {% assign lang = site.data.texts[page.lang] %}

	<p class="copyright">&#169; {{ site.time | date: '%Y' }} All rights by<br>Kitesurf Mallorca SL</p>
	
</div>

</footer>
