<footer role="contentinfo" id="site-footer">
  {% include multibutton.html %}



{% if page.amp == true %}
	<nav class="menu-item">
		<a rel="nofollow" href="{{site.baseurl }}/{{page.lang }}/{{ page.t.link6 }}" title="{{ page.t.menutxt6 }}" >{{ page.t.menutxt6 }}</a></li>
	</nav>
{% else %}
	<nav class="menu-item">
		<a rel="nofollow" href="{{site.baseurl }}/{{page.lang }}/{{ page.t.link6 }}" title="{{ page.t.menutxt6 }}" >{{ page.t.menutxt6 }}</a></li>
	</nav>
{% endif %}
	<p class="copyright">&#169; {{ site.time | date: '%Y' }} KITE-MALLORCA. All rights reserved.</p>
</footer>
