<section>
		{% for image in site.data[page.dataFile].images %}		
		<div class="lb-overlay" id="image-{{ forloop.index }}">
            		<img src="{{ site.baseurl }}/images/flying-friends/l_{{ image.image }}" alt="{{ image.alt }}" />
			<div>
				<h3>{{ image.name }}</h3>
				<p>{{ image.description }}</p>
				{% if forloop.index == 1 %}
				<a href="#image-{{ forloop.length }}" class="lb-prev"></a>
				{% else %}
				<a href="#image-{{ forloop.index | minus:1 }}" class="lb-prev">Prev</a>
				{% endif %}
				{% if forloop.last == true %}
				<a href="#image-1" class="lb-next">Next</a>
				{% else %}
				<a href="#image-{{ forloop.index | plus:1 }}" class="lb-next">  </a>
				{% endif %}
			</div>
			<a href="#page" class="lb-close">X</a>
		</div>
		{% endfor %}
</section>