<noscript>
    <style type="text/css">
        .pagecontainer {display:none;}
    </style>
    <div class="noscriptmsg">
        {% for image in site.data[page.dataFile].images %}
        <a href="#image-{{ forloop.index }}">
            <img src="{{ site.baseurl }}/images/flying-friends/t_{{ image.image }}" alt="{{ image.alt }}" title="{{ image.title }}" />
        </a>
        {% endfor %}
    </div>
</noscript>
<div class="gallery">
    <script src="//cdn.jsdelivr.net/blazy/latest/blazy.min.js"></script> 
    <script>
        ;(function() {
            // Initialize
            var bLazy = new Blazy();
        })();
    </script> 
        {% for image in site.data[page.dataFile].images %}        
        <span class="my-simple-gallery">
        <a href="{{ site.baseurl }}/images/flying-friends/l_{{ image.image }}" data-size="640x480">
        <img class="b-lazy" data-src="{{ site.baseurl }}/images/flying-friends/t_{{ image.image }}" itemprop="thumbnail" alt="{{ image.alt }}" title="{{ image.title }}">
        </a>
                <figcaption itemprop="caption description">{{ image.description }}</figcaption>
        </span>
        {% endfor %}
</div>