<section>
		{% for image in site.data[page.dataFile].images %}		
		<div class="lb-overlay" id="image-{{ forloop.index }}">
		 	<script>
			var lazy = lazyload({
			container: document.getElementById('lb-overlay')
			});
			</script>
		    <span data-picture data-alt="{{ image.alt }}">
	    	    <span data-src="{{ site.baseurl }}/images/flying-friends/m_{{ image.image }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="lazy(this)"></span>
	    	    <span data-src="{{ site.baseurl }}/images/flying-friends/s_{{ image.image }}"     data-media="(min-width: 400px)" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="lazy(this)"></span>
	        	<span data-src="{{ site.baseurl }}/images/flying-friends/m_{{ image.image }}"      data-media="(min-width: 800px)" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="lazy(this)"></span>
	        	<span data-src="{{ site.baseurl }}/images/flying-friends/l_{{ image.image }}" data-media="(min-width: 1000px)" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="lazy(this)"></span>

        		<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
        		<noscript>
            		<img src="{{ site.baseurl }}/images/flying-friends/m_{{ image.image }}" alt="{{ image.alt }}" />
        		</noscript>
    		</span>
			<div>
				<h3>{{ image.name }}</h3>
				<p>{{ image.description }}</p>
				{% if forloop.index == 1 %}
				<a href="#image-{{ forloop.length }}" class="lb-prev">Prev</a>
				{% else %}
				<a href="#image-{{ forloop.index | minus:1 }}" class="lb-prev">Prev</a>
				{% endif %}
				{% if forloop.last == true %}
				<a href="#image-1" class="lb-next">Next</a>
				{% else %}
				<a href="#image-{{ forloop.index | plus:1 }}" class="lb-next">Next</a>
				{% endif %}
			</div>
			<a href="#page" class="lb-close">X Close</a>
		</div>
		{% endfor %}
</section>