<style>
/*** uncss> filename: http://fonts.googleapis.com/css?family=Lato:400,700&subset=latin ***/

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/v0SdcGFAl2aezM9Vq_aFTQ.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v11/DvlFBScY1r-FMtZSYIYoYw.ttf) format('truetype');
}

/*** uncss> filename: http://kite-mallorca.com/css/main.css ***/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

article,
aside,
figcaption,
footer,
header,
nav,
section {
  display: block;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:hover,
a:active {
  outline: 0;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button,
input {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button,
input {
  overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

label,
button,
input[type="checkbox"] {
  cursor: pointer;
}

body {
  font-family: Lato,"Segoe UI",Arial,sans-serif;
  color: #7d7b7a;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0%;
  background-size: auto;
  background-color: #f5f5f5;
}

p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

h1,
h3,
h5 {
  font-family: Lato,"Segoe UI",Arial,sans-serif;
  color: #222;
}

h1 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.33333;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.71429;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

h5 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

a {
  color: #2799d1;
  text-decoration: none;
}

a:hover {
  color: #df061c;
}

a:hover,
a:active {
  outline: 0;
}

figcaption {
  padding-left: 3.236em;
  padding-right: 3.236em;
  font-family: Lato,"Segoe UI",Arial,sans-serif;
  font-size: 12px;
  font-size: .75rem;
  line-height: 1.25;
  margin-bottom: 0;
  color: #969594;
  text-align: center;
  clear: both;
}

@media screen and (min-width: 62.5em) {
  figcaption {
    position: absolute;
    top: 1px;
    right: -14.3254em;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    width: 12.7074em;
    text-align: left;
  }

  figcaption:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 1px;
    background: #d5d5d5;
  }
}

input,
label {
  display: block;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0;
}

label {
  font-weight: bold;
  font-family: Lato,"Segoe UI",Arial,sans-serif;
  margin-bottom: 6px;
  margin-bottom: .375rem;
}

input[type="checkbox"] {
  display: inline;
  margin-right: 6px;
  margin-right: .375rem;
}

nav a {
  text-decoration: none;
}

i,
p,
span,
img,
h1,
header,
input,
a {
  -webkit-transition: color 0.2s ease-out,opacity 0.2s ease-out,background 0.2s ease-out,border-color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out,opacity 0.2s ease-out,background 0.2s ease-out,border-color 0.2s ease-out;
  transition: color 0.2s ease-out,opacity 0.2s ease-out,background 0.2s ease-out,border-color 0.2s ease-out;
}

.wrap {
  width: 100%;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}

.wrap:after {
  content: "";
  display: table;
  clear: both;
}

.inline-btn:after {
  content: "";
  display: table;
  clear: both;
}

.inline-btn a {
  display: inline-block;
  margin-right: .809em;
}

.inline-btn a:last-child {
  margin-right: 0;
}

.btn-social {
  display: inline-block;
  padding: 8px 20px;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.71429;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  font-family: Lato,"Segoe UI",Arial,sans-serif;
  background-color: #222;
  color: #fff;
  text-decoration: none;
  border: 0 !important;
  border-radius: 30px;
  -webkit-transition: background 0.2s,border 0.2s;
  -moz-transition: background 0.2s,border 0.2s;
  transition: background 0.2s,border 0.2s;
}

.btn-social:hover {
  color: #fff;
  background-color: #3c3c3c;
}

.btn-social:active {
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -o-transform: translateY(1px);
  transform: translateY(1px);
}

.btn-social {
  background-color: #fff;
  color: #7d7b7a;
}

.btn-social:visited,
.btn-social:active {
  color: #7d7b7a;
}

.btn-social:hover {
  color: #fff;
  background-color: #7d7b7a;
}

.btn-social {
  color: #7d7b7a !important;
  border: 1px solid #ddd !important;
}

.btn-social:visited,
.btn-social:active {
  color: #7d7b7a;
}

.btn-social i.fa-facebook {
  color: #3b5998;
}

.btn-social i.fa-google-plus {
  color: #dd4b39;
}

.btn-social i.fa-twitter {
  color: #55acee;
}

.btn-social:hover {
  color: #fff !important;
}

.btn-social.facebook:hover {
  background: #3b5998;
  border-color: #3b5998;
}

.btn-social.facebook:hover i.fa-facebook {
  color: #fff;
}

.btn-social.google-plus:hover {
  background: #dd4b39;
  border-color: #dd4b39;
}

.btn-social.google-plus:hover i.fa-google-plus {
  color: #fff;
}

.btn-social.twitter:hover {
  background: #55acee;
  border-color: #55acee;
}

.btn-social.twitter:hover i.fa-twitter {
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .btn-fixonbottom {
    display: inline-block;
    width: 80%;
    text-align: center;
    padding: 8px 20px;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.71429;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    font-family: Lato,"Segoe UI",Arial,sans-serif;
    text-decoration: none;
    border: 0 !important;
    border-radius: 30px;
    -webkit-transition: background 0.2s,border 0.2s;
    -moz-transition: background 0.2s,border 0.2s;
    transition: background 0.2s,border 0.2s;
    z-index: 1000;
    position: fixed;
    bottom: 5px;
    margin: 0 10%;
    background-color: #df061c;
    color: #fff;
  }

  .btn-fixonbottom:visited {
    color: #fff;
  }

  .btn-fixonbottom:hover {
    background-color: #f91f35;
  }
}

@media only screen and (min-width: 600px) {
  .btn-fixonbottom {
    display: none;
  }
}

#page-wrapper {
  padding: 0 1.618em;
  height: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  z-index: 2;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#main .inner-wrap {
  width: 100%;
  margin-right: 0.8em !important;
  margin-bottom: 0.8em;
}

@media screen and (min-width: 48em) {
  #main .inner-wrap {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
}

.animenu__box {
  display:-webkit-flex;display:-ms-flexbox;
  display:flex;
  -webkit-flex-direction:row;
  -ms-flex-direction:row;
  flex-direction:row;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center
}

.animenu__flag img {
  padding-right: 15px;
  min-height: 12px;
  min-width:76px
}

.animenu__toggle {
  display:none;
  cursor:pointer;
  background-color:transparent;
  border:0;
  padding:10px;
  height:40px;
  width:40px
}

.animenu__toggle:hover {
  background-color:#0186ba
}

.animenu ul {
  padding:0;
  list-style:none;
  font:0px 'Lato', Arial, Helvetica;
  font-weight:700
}

.animenu li,
.animenu a {
  display:inline-block;
  font-size:15px
}

.animenu a {
  text-decoration:none
}

.animenu__nav {
  background-color:transparent
}

.animenu__nav > li {
  position:relative;
  border-right:1px solid rgba(51,51,51,0)
}

.animenu__nav > li > a {
  padding:10px 20px;
  text-transform:uppercase
}

.navtop > ul > li > label {
  display:none
}

#menuname {
  display: none
}

.navtop ul {
  text-transform:uppercase;
  display:flex;
  list-style-type: none;
}

.logo {
  padding:0 0 5px 15px;

  min-height: 59px;
  min-width: 75px
}

@media screen and (max-width: 767px) {
  .logo {
    position: fixed;
    top: 0;
    left: 15px;
    z-index:991;
    max-height: 59px;
    max-width: 75px;
  }

  label>h6 {
    font-size:15px;
    color:#df061c;
    margin-top:18px
    }

  header {
    background-color:#f5f5f5;
    min-height:65px;
    z-index:900;
    position:fixed;
    width:100%;
  }

  #page-wrapper {
    padding:2em 1.618em;
  }
  
  #menuname,
  .navtop > ul > li > label,
  .navtop>ul>li>ul>li {
    display:block;
  }

  .navtop ul {
    display: inline-block;
    background-color: rgba(255,255,255,.6);
    margin:0;padding:0;
    transition: transform .75s ease-in-out;
    -webkit-transition: transform .75s ease-in-out;
  }

  .navtop > ul > li > ul {
    position:fixed;
    top:0;
    right:-260px;
    width:260px;
    bottom:0;
    z-index:990;
    padding-top:36px;
  }

  .navtop>ul>li>ul>li>a{
    font-size:1rem;
  }

  .navtop > ul > li:hover > ul {
    transform: translate3d( -200px, 0, 0 );
    -webkit-transform: translate3d( -200px, 0, 0 );
  }

  .navtop > ul >li {
    position: fixed;
    right:25px;
    top:0px;
    z-index:991;
  }

  .animenu__nav a:hover {
    background-color:#0186ba;
    border-color:#0186ba;
    color:#fff;
  }
}

.navtop{height:30px;z-index:990;}

.navtop a{color: #4A8DDD;}
.navtop > ul > li > ul > li{font-size:1.2rem;font-weight: 700;padding:4px 0 4px 8px;}
.navtop > ul > li > ul > li>a:hover{color:#df061c}
.navtop > ul > li > ul > li >a{display:block; text-decoration:none;padding:4px;}

.carousel-wrapper{position:relative;height:400px}
.carousel-wrapper .carousel-item{position:absolute;top:0;bottom:0;left:0;right:0;padding:0 50px;opacity:0;transition:all .5s ease-in-out}
.carousel-wrapper .carousel-item .arrow{position:absolute;top:0;display:block;width:50px;height:100%;-webkit-tap-highlight-color:transparent;background:url(../../../images/carousel-arrow-dark.png) 50% 50%/20px no-repeat}
.carousel-wrapper .carousel-item .arrow.arrow-prev{left:0}
.carousel-wrapper .carousel-item .arrow.arrow-next{right:0;-webkit-transform:rotate(180deg);transform:rotate(180deg)}
@media (max-width:480px){.carousel-wrapper .carousel-item .arrow{width:30px;background-size:10px;background-position:0 50%}.carousel-wrapper .carousel-item{padding:0 30px}}
.carousel-wrapper [id^=target-item]{display:none}
.carousel-wrapper .item-1{z-index:2;opacity:1}
carousel-wrapper :target~.item-1{opacity:0}
.carousel-wrapper #target-item-1:target~.item-1{opacity:1}
.carousel-wrapper #target-item-2:target~.item-2,.carousel-wrapper #target-item-3:target~.item-3{z-index:3;opacity:1}
.testim-title p{margin-top:-10px;line-height:1}
.review{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-align-items:flex-start;-ms-align-items:flex-start;align-items:flex-start}
.avatar{padding-left:10px}
.review-body p{font-size:14px;font-family:Constantia,Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;font-style:italic;hyphens:auto;text-align:justify}


@media screen and (min-width: 48em) {
  #main .toc {
    display: block;
  }

  #main .toc:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media screen and (min-width: 62.5em) {
  #main .toc {
    float: right;
    display: block;
    margin-left: 3.16844%;
    width: 19.75788%;
  }
}

#main .page-title {
  width: 100%;
}

.page-content {
  background-color: rgba(255,255,255,0.8);
  padding: 20px;
}

@media screen and (min-width: 48em) {
  .page-content {
    display: block;
  }

  .page-content:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media screen and (min-width: 62.5em) {
  .page-content {
    float: right;
    display: block;
    margin-left: 3.16844%;
    width: 100%;
  }

  .page-content:last-child {
    margin-left: 0;
  }
}

.page-content a {
  text-decoration: none;
}

.page-content .page-footer {
  width: 100%;
}

.page-content .page-meta p {
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.71429;
  margin-bottom: 0;
  font-family: Lato,"Segoe UI",Arial,sans-serif;
  color: #bbb;
}

.toc {
  font-family: Lato,"Segoe UI",Arial,sans-serif;
}

.page-footer {
  position: relative;
}

#site-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(39,153,209,0.8);
  font-family: Lato,"Segoe UI",Arial,sans-serif;
  z-index: 20;
}

.copyright {
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
  margin-right: 1%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  font-size: 12px;
  font-size: .75rem;
  line-height: 2;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  color: #fff;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.video {
  margin: 0 0 1.5em;
  padding: 0;
  -moz-column-gap: 0.8em;
  -webkit-column-gap: 0.8em;
  column-gap: 0.8em;
}

.gallery {
  -moz-column-gap: 0.8em;
  -webkit-column-gap: 0.8em;
  column-gap: 0.8em;
}

.item {
  z-index: 100;
  display: inline-block;
  background: rgba(255,255,255,0.8);
  padding: 0.8em;
  margin-bottom: 0.8em;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.gallery a img {
  display: inline-block;
  opacity: 1.0;
  margin-bottom: 0.8em;
}

.video {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
}

@media only screen and (max-width: 420px) {
  .gallery {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media only screen and (min-width: 420px) {
  .gallery {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}

@media only screen and (min-width: 530px) {
  .gallery {
    -moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5;
  }
}

.my-simple-gallery img {
  width: 100%;
  height: auto;
}

.my-simple-gallery figcaption {
  display: none;
}

x:-o-prefocus {
  height: 100%;
}

x:-o-prefocus {
  height: 100%;
}

x:-o-prefocus {
  height: 100%;
}

x:-o-prefocus {
  height: 100%;
}

/*** uncss> filename: http://kite-mallorca.com/css/photoswipe.css ***/

/*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license */

/*
	Styles for basic PhotoSwipe functionality (sliding area, open/close transitions)
*/

/* pswp = photoswipe */

.pswp {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  z-index: 1500;
  -webkit-text-size-adjust: 100%;
  /* create separate layer, to avoid paint on window.onscroll in webkit/blink */
  -webkit-backface-visibility: hidden;
  outline: none;
}

.pswp * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* style is added when JS option showHideOpacity is set to true */

/*
	Background is added as a separate element.
	As animating opacity is much faster than animating rgba() background-color.
*/

.pswp__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  will-change: opacity;
}

.pswp__scroll-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pswp__container {
  -ms-touch-action: none;
  touch-action: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Prevent selection and tap highlights */

.pswp__container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.pswp__bg {
  will-change: opacity;
  /* for open/close transition */
  -webkit-transition: opacity 333ms cubic-bezier(.4, 0, .22, 1);
  transition: opacity 333ms cubic-bezier(.4, 0, .22, 1);
}

.pswp__container {
  -webkit-backface-visibility: hidden;
  will-change: transform;
}

.pswp__item {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

/*
	stretched thumbnail or div placeholder element (see below)
	style is added to avoid flickering in webkit/blink when layers overlap
*/

/*
	div element that matches size of large image
	large image loads on top of it
*/

/*
	Error message appears when image is not loaded
	(JS option errorMsg controls markup)
*/

/*** uncss> filename: http://kite-mallorca.com/css/default-skin/default-skin.css ***/

/*! PhotoSwipe Default UI CSS by Dmitry Semenov | photoswipe.com | MIT license */

/*

	Contents:

	1. Buttons
	2. Share modal and links
	3. Index indicator ("1 of X" counter)
	4. Caption
	5. Loading indicator
	6. Additional styles (root element, top bar, idle state, hidden state, etc.)

*/

/*
	
	1. Buttons

 */

/* <button> css reset */

.pswp__button {
  width: 44px;
  height: 44px;
  position: relative;
  background: none;
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: none;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  float: right;
  opacity: 0.75;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.pswp__button:focus,
.pswp__button:hover {
  opacity: 1;
}

.pswp__button:active {
  outline: none;
  opacity: 0.9;
}

.pswp__button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* pswp__ui--over-close class it added when mouse is over element that should close gallery */

.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  background: url(default-skin.png) 0 0 no-repeat;
  background-size: 264px 88px;
  width: 44px;
  height: 44px;
}

@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
  /* Serve SVG sprite if browser supports SVG and resolution is more than 105dpi */
}

.pswp__button--close {
  background-position: 0 -44px;
}

.pswp__button--share {
  background-position: -44px -44px;
}

.pswp__button--fs {
  display: none;
}

.pswp__button--zoom {
  display: none;
  background-position: -88px 0;
}

/* no arrows on touch screens */

/*
	Arrow buttons hit area
	(icon is added to :before pseudo-element)
*/

.pswp__button--arrow--left,
.pswp__button--arrow--right {
  background: none;
  top: 50%;
  margin-top: -50px;
  width: 70px;
  height: 100px;
  position: absolute;
}

.pswp__button--arrow--left {
  left: 0;
}

.pswp__button--arrow--right {
  right: 0;
}

.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  content: '';
  top: 35px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 30px;
  width: 32px;
  position: absolute;
}

.pswp__button--arrow--left:before {
  left: 6px;
  background-position: -138px -44px;
}

.pswp__button--arrow--right:before {
  right: 6px;
  background-position: -94px -44px;
}

/*

	2. Share modal/popup and links

 */

.pswp__counter,
.pswp__share-modal {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pswp__share-modal {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  position: absolute;
  z-index: 1600;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  -webkit-backface-visibility: hidden;
  will-change: opacity;
}

.pswp__share-modal--hidden {
  display: none;
}

.pswp__share-tooltip {
  z-index: 1620;
  position: absolute;
  background: #FFF;
  top: 56px;
  border-radius: 2px;
  display: block;
  width: auto;
  right: 44px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(6px);
  -ms-transform: translateY(6px);
  transform: translateY(6px);
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  -webkit-backface-visibility: hidden;
  will-change: transform;
}

/* increase size of share links on touch devices */

/*

	3. Index indicator ("1 of X" counter)

 */

.pswp__counter {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  font-size: 13px;
  line-height: 44px;
  color: #FFF;
  opacity: 0.75;
  padding: 0 10px;
}

/*
	
	4. Caption

 */

.pswp__caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 44px;
}

.pswp__caption__center {
  text-align: left;
  max-width: 420px;
  margin: 0 auto;
  font-size: 13px;
  padding: 10px;
  line-height: 20px;
  color: #CCC;
}

/* Fake caption element, used to calculate height of next/prev image */

/*

	5. Loading indicator (preloader)

	You can play with it here - http://codepen.io/dimsemenov/pen/yyBWoR

 */

.pswp__preloader {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -22px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  will-change: opacity;
}

.pswp__preloader__icn {
  width: 20px;
  height: 20px;
  margin: 12px;
}

@media screen and (max-width: 1024px) {
  .pswp__preloader {
    position: relative;
    left: auto;
    top: auto;
    margin: 0;
    float: right;
  }
}

/*
	
	6. Additional styles

 */

/* root element of UI */

.pswp__ui {
  -webkit-font-smoothing: auto;
  visibility: visible;
  opacity: 1;
  z-index: 1550;
}

/* top black bar with buttons and "1 of X" indicator */

.pswp__top-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  width: 100%;
}

.pswp__caption,
.pswp__top-bar {
  -webkit-backface-visibility: hidden;
  will-change: opacity;
  -webkit-transition: opacity 333ms cubic-bezier(.4, 0, .22, 1);
  transition: opacity 333ms cubic-bezier(.4, 0, .22, 1);
}

/* pswp--has_mouse class is added only when two subsequent mousemove events occur */

.pswp__top-bar,
.pswp__caption {
  background-color: rgba(0, 0, 0, 0.5);
}

/* pswp__ui--fit class is added when main image "fits" between top bar and bottom bar (caption) */

/* pswp__ui--idle class is added when mouse isn't moving for several seconds (JS option timeToIdle) */

/*
	pswp__ui--hidden class is added when controls are hidden
	e.g. when user taps to toggle visibility of controls
*/

.pswp__ui--hidden .pswp__top-bar,
.pswp__ui--hidden .pswp__caption,
.pswp__ui--hidden .pswp__button--arrow--left,
.pswp__ui--hidden .pswp__button--arrow--right {
  /* Force paint & create composition layer for controls. */
  opacity: 0.001;
}

/* pswp__ui--one-slide class is added when there is just one item in gallery */

.lb-album{
  width: 900px;
  margin: 0 auto;
}
.lb-album li{
  float: left;
  margin: 5px;
  position: relative;
}
.lb-album a,
.lb-album a img{
  display: block;
}
.lb-album a{
  width: 100%;
  padding: 0.8em;
  background: #f1d2c2;
  -webkit-box-shadow: 1px 1px 2px #fff, 1px 1px 2px rgba(158,111,86,0.3) inset;
  -moz-box-shadow: 1px 1px 2px #fff, 1px 1px 2px rgba(158,111,86,0.3) inset;
  box-shadow: 1px 1px 2px #fff, 1px 1px 2px rgba(158,111,86,0.3) inset;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
}
.lb-album li > a span{
  position: absolute;
  width: 150px;
  height: 150px;
  top: 10px;
  left: 10px;
  text-align: center;
  line-height: 150px;
  color: rgba(27,54,81,0.8);
  text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
  font-size: 24px;
  opacity: 0;
  filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
  background: rgb(255,255,255);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.56)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(255,255,255,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(255,255,255,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(255,255,255,1) 100%);
  background: radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(255,255,255,1) 100%);
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.lb-album li > a:hover span{
  opacity: 1;
  filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
.lb-overlay{
  width: 0px;
  height: 0px;
  position: fixed;
  overflow: hidden;
  left: 0px;
  top: 0px;
  padding: 0px;
  z-index: 99;
  text-align: center;
  background: rgb(255,255,255);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.86) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.86)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.86) 0%,rgba(255,255,255,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.86) 0%,rgba(255,255,255,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.86) 0%,rgba(255,255,255,1) 100%);
  background: radial-gradient(center, ellipse cover, rgba(255,255,255,0.86) 0%,rgba(255,255,255,1) 100%);
}
.lb-overlay > div{
  position: relative;
  color: rgba(27,54,81,0.8);
  width: 80%;
  height: 80px;
  margin: 40px auto 0px auto;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
}
.lb-overlay div h3,
.lb-overlay div p{
  padding: 0px 20px;
  width: 40%;
  height: 60px;
}
.lb-overlay div h3{
  font-size: 36px;
  float: left;
  text-align: right;
  border-right: 1px solid rgba(27,54,81,0.4);
}
.lb-overlay div h3 span,
.lb-overlay div p{
  @include font-size(16);
  font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  font-style: italic;
}
.lb-overlay div h3 span{
  display: block;
  line-height: 6px;
}
.lb-overlay div p{
  font-size: 14px;
  text-align: left;
  float: left;
  width: 40%;
}
.lb-overlay a.lb-close{
  background: rgba(27,54,81,0.8);
  z-index: 1001;
  color: #fff;
  position: absolute;
  top: 43px;
  left: 50%;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  width: 50px;
  height: 23px;
  overflow: hidden;
  margin-left: -25px;
  opacity: 0;
  filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}
.lb-overlay img{
  /* height: 100%; For Opera max-height does not seem to work */
  max-height: 100%;
  position: relative;
  opacity: 0;
  filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
  -webkit-transition: opacity 0.8s linear;
  -moz-transition: opacity 0.8s linear;
  -o-transition: opacity 0.8s linear;
  -ms-transition: opacity 0.8s linear;
  transition: opacity 0.8s linear;
}
.lb-prev, .lb-next{
  text-indent: -9000px;
  position: absolute;
  top: -32px;
  width: 24px;
  height: 25px;
  left: 50%;
  opacity: 0.8;
  filter: alpha(opacity=80); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=80)"; /*IE8*/
}
.lb-prev:hover, .lb-next:hover{
  opacity: 1;
  filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
.lb-prev{
  margin-left: -30px;
  background: transparent url(../../images/arrows.png) no-repeat top left;
}
.lb-next{
  margin-left: 6px;
  background: transparent url(../../images/arrows.png) no-repeat top right;
}
.lb-overlay:target {
  width: auto;
  height: auto;
  bottom: 0px;
  right: 0px;
  padding: 80px 100px 120px 100px;
}
.lb-overlay:target img,
.lb-overlay:target a.lb-close{
  opacity: 1;
  filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
/* 
  100% Height for Opera as the max-height seems to be ignored, not optimal for large screens 
  http://bricss.net/post/11230266445/css-hack-to-target-opera 
*/
x:-o-prefocus, .lb-overlay img {
    height: 100%;
}

</style>