<div class="btn-multi">
	<input type="checkbox" id="multi-btn" name="multi-btn" />
	{% if page.amp == true %}
	<label class="tooltip" for="multi-btn">
	{% else %}
	<label class="tooltip" for="multi-btn" onclick="void(0)">
	{% endif %}	
        {% assign lang = site.data.texts[page.lang] %}
		<a href="{{site.baseurl }}/{{page.lang }}/{{ page.t.link7 }}" title="{{ page.t.menutxt7 }}" class="btn btn-circle" target="_blank" ><i class="icomoon icon icon-mail4"></i></a>
		<a href="tel:+34696264729" class="btn btn-circle" target="_blank" title="phone"><i class="icomoon icon icon-phone"></i></a>
		<a href="https://telegram.im/@kite_mallorca" class="btn btn-circle" target="_blank" title="Telegram"><i class="icomoon icon icon-telegram"></i></a>
		<a href="https://m.me/kitesurfmallorca" class="btn btn-circle" target="_blank" title="Messenger"><i class="icomoon icon icon-messenger"></i></a>
		<span class="btn btn-circle" ><i class="icomoon icon icon-cross"></i></span>
		<span class="icomoon icon icon-bubbles3"></span>
		<span class="tooltiptext">{{ lang.chatbuttontext }}</span>
	</label>
</div>
