    <!-- Navigation -->
<nav class="animenu">     
<div class="animenu__box">
<div>
        <a href="{{site.baseurl }}/{{page.lang }}"><img class="logo" src="{{site.baseurl}}/images/kite-mallorca_225x177.png" alt="Kite Mallorca Logo"></a>
</div>
<div>
  <button class="animenu__toggle">
   <!-- <span class="animenu__toggle__bar"></span>
    <span class="animenu__toggle__bar"></span>
    <span class="animenu__toggle__bar"></span> -->
    <span>Menu</span>
  </button>
  <ul class="animenu__nav">
    <li>
        <a href="{{site.baseurl }}/{{page.lang }}/{{ page.t.link1 }}" title="{{ page.t.menutxt1 }}" >{{ page.t.menutxt1 }}</a>
    </li>
    <li>
        <a href="{{site.baseurl }}/{{page.lang }}/{{ page.t.link2 }}" title="{{ page.t.menutxt2 }}" >{{ page.t.menutxt2 }}</a>
    </li>
    <li>
        <a href="{{site.baseurl }}/{{page.lang }}/{{ page.t.link3 }}" title="{{ page.t.menutxt3 }}" >{{ page.t.menutxt3 }}</a>
    </li>
    <li>
        <a href="{{site.baseurl }}/{{page.lang }}/{{ page.t.link4 }}" title="{{ page.t.menutxt4 }}" >{{ page.t.menutxt4 }}</a>
    </li>
    <li>
        <a href="{{site.baseurl }}/{{page.lang }}/{{ page.t.link5 }}" title="{{ page.t.menutxt5 }}" >{{ page.t.menutxt5 }}</a>
    </li>
  </ul>
</div>
<div>
  <ul class="animenu__flag">
    <li>
        <a href="{{site.baseurl }}/{{ page.de-url }}" title="Deutsch"><img class="img-responsive" src="{{site.baseurl }}/images/flags/germany_24.png" alt="Deutsch"></a>
    </li>
    <li>
        <a href="{{site.baseurl }}/{{ page.es-url }}" title="Español"><img class="img-responsive" src="{{site.baseurl }}/images/flags/spain_24.png" alt="Español"></a>
    </li>
    <li>
        <a href="{{site.baseurl }}/{{ page.en-url }}" title="English"><img class="img-responsive" src="{{site.baseurl }}/images/flags/uk_24.png" alt="English"></a>
    </li>
  </ul>
</div>                   
</div>
</nav>
