{% assign sp_p = site.data.prices.kitesurf %}
{% assign sp_w = site.data.prices.wingfoil %}
{% assign sp_r = site.data.prices.rental %}
{% assign sp_curr = site.data.prices.currency_code | default: "EUR" %}

{% if include.course_key %}
  {% assign item = sp_p[include.course_key] | default: sp_w[include.course_key] %}
  {% if item %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Course",
    "name": "{{ include.name | default: page.title }}",
    "description": "{{ include.description | default: page.description }}",
    "provider": {
      "@type": "SportsActivityLocation",
      "name": "Kitesurf Mallorca SL",
      "sameAs": "https://kite-mallorca.com/"
    },
    "offers": {
      "@type": "Offer",
      "price": "{{ item.price }}",
      "priceCurrency": "{{ sp_curr }}",
      "availability": "https://schema.org/InStock",
      "url": "{{ page.url | replace:'index.html','' | prepend: site.url }}"
    }
  }
  </script>
  {% endif %}
{% endif %}
