<section class="masonry">
<div class="item">
	<img src="{{ site.baseurl }}/images/flying-friends/cabin.png" alt="Testfoto" title="Test" >
</div>
<div class="item">
	<img src="{{ site.baseurl }}/images/kite-mallorca_225x177.png" alt="Testfoto" title="Test" >
</div>
<div class="item">
	<img src="{{ site.baseurl }}/images/flying-friends/cabin.png" alt="Testfoto" title="Test" >
</div>
<div class="item">
	<img src="{{ site.baseurl }}/images/flying-friends/cabin.png" alt="Testfoto" title="Test" >
</div>
<div class="item">
	<img src="{{ site.baseurl }}/images/flying-friends/cabin.png" alt="Testfoto" title="Test" >
</div>
</section>