<section class="masonry">
<div class="item">
	{% include snippets/{{ page.lang }}/kurse.html %}
</div>
<div class="item">
	{% include snippets/{{ page.lang }}/vdws.html %}
</div>
<div class="item">
	{% include snippets/{{ page.lang }}/languages.html %}
</div>
<div class="item">
{% if page.amp == true %}
	{% include snippets/{{ page.lang }}/amp-contact.html %}
{% else %}
	{% include snippets/{{ page.lang }}/contact.html %}
{% endif %}
</div>
<div class="item">
	{% include snippets/{{ page.lang }}/team-contact.html %}
</div>
<div class="item">
	{% include snippets/{{ page.lang }}/kitesurf-picture.html %}
</div>
<!--<div class="item">
	{% if page.amp != true %}
	{% include snippets/{{ page.lang }}/facebook.html %}
	{% endif %}
</div> -->
</section>