   <script type="application/ld+json">
      {
        "@context" : "http://schema.org",
        "@type" : "Organization",
        "@type" : "Course",
        "@type" : "LocalBusiness",
        "telephone" : "+34-696-264-729",
        "priceRange": "$$",
        "name" : "Kitesurf Mallorca SL",
        "image" : "http://kite-mallorca.com/images/gerhard-und-daniel.jpg",
        "url" : "http://kite-mallorca.com",
        "sameAs" : [
          "https://www.facebook.com/KitesurfMallorca",
          "https://twitter.com/kite_mallorca",
          "https://plus.google.com/108768305083116030970"
        ],
        "logo" : "http://kite-mallorca.com/images/kite-mallorca_225x177.png",        
        "address": {
        "@type": "PostalAddress",
        "addressLocality": "Alcudia",
        "addressCountry": "Spain",
        "postalCode":"07400",
        "streetAddress": "Calle del Greco 19"
        },
        "description": "Kitesurfing and Kiteboarding school for all levels, also equipement rental for practicing this watersport",
        "openingHours": "Mo,Tu,We,Th,Fr,Sa,Su 08:00-22:00",
         "areaServed": {
          "@type": "GeoCircle",
          "geoMidpoint": {
            "@type": "GeoCoordinates",
            "latitude": "39.6224385",
            "longitude": "2.966201"
          },
          "geoRadius": "60000"
        },
        "hasOfferCatalog": {
          "@type": "OfferCatalog",
          "name": "Sport services",
          "itemListElement": [
            {
              "@type": "OfferCatalog",
              "name": "Kiteboarding and Kitesurfing learning",
              "itemListElement": [
                {
                  "@type": "Offer",
                  "itemOffered": {
                    "@type": "Service",
                    "name": "Tester course for everyone",
                    "description": "Learning how to fly and control a kite and drag the body throw the water with his power"
                  }
                },
                {
                  "@type": "Offer",
                  "itemOffered": {
                    "@type": "Service",
                    "name": "Complette 10 hours course",
                    "description": "Learning all basics about kitesurfing and kiteboarding to be safe and independent"
                  }
                },
                {
                  "@type": "Offer",
                  "itemOffered": {
                    "@type": "Service",
                    "name": "Refresh course for advanced riders",
                    "description": "Special training like kitecontrol, waterstart, riding longer tack, transitions or jumping for advanced students"
                  }
                }
              ]
            },
            {
              "@type": "OfferCatalog",
              "name": "Sports equipement rental",
              "itemListElement": [
                {
                  "@type": "Offer",
                  "itemOffered": {
                    "@type": "Service",
                    "name": "Complette equipement rental"
                  }
                },
                {
                  "@type": "Offer",
                  "itemOffered": {
                    "@type": "Service",
                    "name": "Kite rental"
                  }
                },
                {
                  "@type": "Offer",
                  "itemOffered": {
                    "@type": "Service",
                    "name": "Board rental"
                  }
                }
              ]
            }
          ]
        },
        "contactPoint" : {
          "@type" : "ContactPoint",
          "telephone" : "+34-696-264-729",
          "contactType" : [
              "customer service",
              "reservations",
              "sales"
            ],
          "availableLanguage" : [
              "Spanish",
              "German",
              "Italian",
              "English"
            ]         
        }
      }
    </script>
    <script type="application/ld+json">
      {
        "@context" : "http://schema.org",
        "@type": "WebSite",
        "name": "Kitesurf Mallorca SL",
        "alternateName": "Daniel and Gerhard",
        "url": "http://kite-mallora.com"
      }
    </script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Course",
  "name": "Beginner course in kitesurfing and kiteboarding",
  "description": "Introductory lessons in controling a kite.",
  "provider": {
    "@type": "LocalBusiness",
    "name": "Kitesurf Mallorca SL",
    "sameAs": "http://kite-mallorca.com"
  }
}
</script>