   <script type="application/ld+json">
      {
        "@context" : "https://schema.org",
        "@type" : "LocalBusiness",
        "telephone" : "+34-696-264-729",
        "priceRange": "$$",
        "name" : "Kitesurf Mallorca SL",
        "image" : "https://kite-mallorca.com/images/gerhard-und-daniel.jpg",
        "url" : "https://kite-mallorca.com",
        "sameAs" : [
          "https://www.facebook.com/KitesurfMallorca",
          "https://twitter.com/kite_mallorca",
          "https://plus.google.com/108768305083116030970"
        ],
        "logo" : "https://kite-mallorca.com/images/kite-mallorca_225x177.png",        
        "address": {
        "@type": "PostalAddress",
        "addressLocality": "Alcudia",
        "addressCountry": "Spain",
        "postalCode":"07400",
        "streetAddress": "Calle del Greco 19"
        },
        "description": "Kitesurfing and Kiteboarding school for all levels, also equipement rental for practicing this watersport",
        "openingHours": "Mo,Tu,We,Th,Fr,Sa,Su 08:00-22:00",
         "areaServed": {
          "@type": "GeoCircle",
          "geoMidpoint": {
            "@type": "GeoCoordinates",
            "latitude": "39.6224385",
            "longitude": "2.966201"
          },
          "geoRadius": "60000"
        },
        "hasOfferCatalog": {
          "@type": "OfferCatalog",
          "name": "Sport services",
          "itemListElement": [
            {
              "@type": "OfferCatalog",
              "name": "Kiteboarding and Kitesurfing learning",
              "itemListElement": [
                {
                  "@type": "Offer",
                  "itemOffered": {
                    "@type": "Service",
                    "name": "Tester course for everyone",
                    "description": "Learning how to fly and control a kite and drag the body throw the water with his power"
                  }
                },
                {
                  "@type": "Offer",
                  "itemOffered": {
                    "@type": "Service",
                    "name": "Complette 10 hours course",
                    "description": "Learning all basics about kitesurfing and kiteboarding to be safe and independent"
                  }
                },
                {
                  "@type": "Offer",
                  "itemOffered": {
                    "@type": "Service",
                    "name": "Refresh course for advanced riders",
                    "description": "Special training like kitecontrol, waterstart, riding longer tack, transitions or jumping for advanced students"
                  }
                }
              ]
            },
            {
              "@type": "OfferCatalog",
              "name": "Sports equipement rental",
              "itemListElement": [
                {
                  "@type": "Offer",
                  "itemOffered": {
                    "@type": "Service",
                    "name": "Complette equipement rental"
                  }
                },
                {
                  "@type": "Offer",
                  "itemOffered": {
                    "@type": "Service",
                    "name": "Kite rental"
                  }
                },
                {
                  "@type": "Offer",
                  "itemOffered": {
                    "@type": "Service",
                    "name": "Board rental"
                  }
                }
              ]
            }
          ]
        }
      }
    </script>
    <script type="application/ld+json">
      {
        "@context" : "https://schema.org",
        "@type": "WebSite",
        "name": "Kitesurf Mallorca SL",
        "alternateName": "Daniel and Gerhard",
        "url": "https://kite-mallora.com"
      }
    </script>
    <script type="application/ld+json">
      {
  "@context": "https://schema.org",
  "@type": "Organization",
  "url": "https://kite-mallora.com",
  "logo": "https://kite-mallorca.com/images/kite-mallorca_225x177.png",
  "contactPoint": [{
    "@type": "ContactPoint",
    "telephone": "+34-696-264-729",
    "contactType": "customer service",
    "availableLanguage" : ["German","English","Spanish","Italian"]
  }]
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "AggregateRating",
  "itemReviewed": {
    "@type": "LocalBusiness",
    "image": "https://kite-mallorca.com/images/gerhard-und-daniel.jpg",
    "name": "Kitesurf Mallorca SL - International Kitesurf Center",
    "telephone": "+34-696-264-729",
    "priceRange": "$$",
    "address" : {
      "@type": "PostalAddress",
      "streetAddress": "Calle del Greco 19",
      "addressLocality": "Alcudia",
      "addressRegion": "Balearic Islands",
      "postalCode": "07400",
      "addressCountry": "Spain"
    }
  },
  "ratingValue": "4.9",
  "bestRating": "5",
  "ratingCount": "114"
}
</script>