
<!-- Swiper -->
<section>
  <div class="swiper-container">
    <div class="swiper-wrapper" itemscope itemtype="http://schema.org/ImageGallery">
      {% for item in site.data.sliderimages.lang[page.lang] %}
      <div class="swiper-slide">
        <figure itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">     
          <picture>
            <source type="image/webp" media="(min-width: 500px)" data-srcset="{{ item.webp.xl }}">
            <source type="image/webp" media="(max-width: 500px)" data-srcset="{{ item.webp.m }}">
            <source type="image/jpeg" media="(min-width: 500px)" data-srcset="{{ item.jpeg.xl }}">
            <source type="image/jpeg" media="(max-width: 500px)" data-srcset="{{ item.jpeg.m }}">
            <img data-src="{{ item.image }}" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{ item.alt }}" title="{{ item.alt }}" data-sizes="auto" class="lazyload">
          </picture>
          <a class="text_bgd" href="{{ item.link }}">
          <span><strong>{{ item.title }}</strong></span>
          <p>{{ item.description }}</p>
          <button class="btn">
             <strong>{{ item.button_text }}</strong>
          </button>
          </a>         
        </figure>
      </div>
      {% endfor %}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</section>
<!-- Swiper JS -->
  <script src="{{ base.url }}/js/swiper.min.js"></script>

<!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      speed: 1000,
      effect: 'cube',
      loop: true,
      grabCursor: true,
      keyboard: {
        enabled: true,
      },
      cubeEffect: {
        shadow: true,
        slideShadows: true,
        shadowOffset: 20,
        shadowScale: 0.94,
      },
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: '.swiper-pagination',
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>
<style type="text/css" media="screen">
section {
  padding-top: 2%;
}
.content {
  width: 90%;
  height: auto;
}
.swiper-container {
  padding-top: 20px;
  height: 500px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
}
.swiper-slide figure {
  width: 100%;
  height: 100%;
}
.swiper-slide img {
  width: auto;
  height: auto;
  max-width: 98%;
  max-height: 100%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}
.text_bgd {
  position: relative;
  display: inline-block;
  height: 25%;
  width: auto;
  max-width: 80%;
  bottom: -55%;
  cursor: pointer;
  background-color: #333333;
  opacity: 0.8;
  outline: 0;
  z-index: 1;
}
@media only screen and (min-width:1000px){
section {
  padding-top: 5%;
}
.text_bgd {
  left: 8%;
}
}
.text_bgd > span,
.text_bgd > p {
  margin: 0.5rem;
  margin-bottom: 0;
  opacity: 1.0;
  color: rgba(255, 255, 255, 1.0);  
}
.text_bgd > span {
  line-height: 1.2;
  font-size: 1.75rem;
}
.text_bgd > p {
  font-size: 0.8em;
}
.btn {
  position: relative;
  display: block;
  margin: 10px auto;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 1px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);  
  background-color: #ff7f0f;
  color: #ffffff;
}
#main {
  padding-top: 10px;
}
</style>