<script type="text/javascript">
function createVideo(){
// variables for safari and mobile
  var webcam = document.createElement('video');
  webcam.controls = 'controls';
  webcam.setAttribute('id', 'livecam-pro');
  webcam.setAttribute('class', 'responsive')
  webcam.setAttribute('poster', '//livecam-pro.com/fileadmin/templates/assets/_pics/055_000M.jpg');
  webcam.setAttribute('type', 'application/x-mpegURL');
  webcam.src = '//94.228.215.67:1935/live/livecam055.stream/playlist.m3u8';
  webcam.style.height = '100%';
  webcam.style.width = '100%';

document.getElementById("devideo").appendChild(webcam);
};
        // Check for browser support of event handling capability
if (window.addEventListener)
window.addEventListener("load", createVideo, false);
else if (window.attachEvent)
window.attachEvent("onload", createVideo);
else window.onload = createVideo;
</script>
<div id="devideo" class="iframe-container iframe-container-16x9"></div>
      {% assign lang = site.data.texts[page.lang] %}
<p> <strong>{{ lang.webcam_fullview }}</strong>
  <a href="{{site.baseurl }}/{{page.lang }}/{{ page.t.link3 }}">"{{ page.t.menutxt3 }}"</a>
</p>