{% if page.amp == true %}
<amp-youtube width="560"
  height="315"
  layout="responsive"
  data-videoid="UCUYH3gE-UHMUD3BzvW_WJcQ"
  autoplay>
</amp-youtube>
{% else %}
<script type="text/javascript">
//doesn't block the load event
function createIframeWebcam(){
  var i = document.createElement("iframe");
  i.src = "https://www.youtube.com/embed/live_stream?channel=UCUYH3gE-UHMUD3BzvW_WJcQ";
  i.style = "border:none; overflow:hidden; height:315px; width:560px;";
  i.scrolling = "no";
  i.frameborder = "0";
  i.allowTransparency = "true";
  i.allowfullscreen = "true";
  document.getElementById("deframe").appendChild(i);
};
        
// Check for browser support of event handling capability
if (window.addEventListener)
window.addEventListener("load", createIframeWebcam, false);
else if (window.attachEvent)
window.attachEvent("onload", createIframeWebcam);
else window.onload = createIframeWebcam;
</script>
<div id="deframe" class="iframe-container-16x9"><noscript>
<iframe src="https://www.youtube.com/embed/live_stream?channel=UCUYH3gE-UHMUD3BzvW_WJcQ" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:315px; width:560px;" allowTransparency="true" allowfullscreen="true"></iframe></noscript></div>
{% endif %}