{% if page.amp == true %}
<amp-iframe src="https://widgets.ikitesurf.com/widgets/web/forecastTable?lat=39.87&lon=3.0884&units_wind=kts&units_height=m&units_temp=C&days=4&width=450&height=250&color=2799d1&name=Sa Marina&app=ikitesurf" layout="responsive" sandbox="allow-scripts allow-same-origin allow-popups" frameborder="0" height="250" width="450"></amp-iframe>
{% else %}
<div class="iframe-iKitesurf">
	<iframe src="https://widgets.ikitesurf.com/widgets/web/forecastTable?lat=39.87&lon=3.0884&units_wind=kts&units_height=m&units_temp=C&days=4&width=670&height=346&color=2799d1&name=Sa Marina&app=ikitesurf" layout="responsive" sandbox="allow-scripts allow-same-origin allow-popups" frameborder="0" height="346" width="670"></iframe>
</div>
{% endif %}