<div class="photos">
{% if page.amp == true %}
            <div id="picleft">
                <amp-img src="{{ site.baseurl }}/images/tina_with_daniel.jpg" width="600" height="400" layout="responsive" alt="Tina et Daniel sur la plage" title="Tina et Daniel sur la plage"></amp-img>
                <div></div>
            </div>
            <div id="picmiddle">
                <amp-img src="{{ site.baseurl }}/images/roberto.jpg" width="600" height="400" layout="responsive" alt="Roberto à Sa Marina" title="Roberto à Sa Marina"></amp-img>
                <div></div>
            </div>
            <div id="picright">
                <amp-img src="{{ site.baseurl }}/images/kerstin_und_daniel.jpg" width="600" height="400" layout="responsive" alt="Daniel avec Kerstin à Majorque" title="Daniel avec Kerstin à Majorque"></amp-img>
                <div></div>
            </div>
{% else %}
            <div id="picleft">
                <img src="{{ site.baseurl }}/images/tina_with_daniel.jpg" alt="Tina et Daniel sur la plage" title="Tina et Daniel sur la plage" />
                <div></div>
            </div>
            <div id="picmiddle">
                <img src="{{ site.baseurl }}/images/roberto.jpg" alt="Roberto à Sa Marina" title="Roberto à Sa Marina" />
                <div></div>
            </div>
            <div id="picright">
                <img src="{{ site.baseurl }}/images/kerstin_und_daniel.jpg" alt="Daniel avec Kerstin à Majorque" title="Daniel avec Kerstin à Majorque" />
                <div></div>
            </div>
{% endif %}     
</div>
