<h4 class="centered">KITE-MALLORCA</h4>
<h5 class="centered">Membre officiel de <br />
{% if page.amp == true %}
<amp-img src="{{ site.baseurl }}/images/logos/VDWS-Logo.gif" alt="Logo VDWS, association internationale de kitesurf" width="300" height="120"></amp-img>
{% else %}
<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ site.baseurl }}/images/logos/VDWS-Logo.gif" border="0" alt="Logo VDWS, association internationale de kitesurf" />
{% endif %}
</h5>
