<section class="gallery">

		<a href="#image-1">
			<img src="{{ site.baseurl }}/images/flying-friends/m_kite-mallorca_001.jpg" alt="image01">
		</a>
		<a href="#image-2">
			<img src="{{ site.baseurl }}/images/flying-friends/m_kite-mallorca_002.jpg" alt="image01">
		</a>
		<a href="#image-3">
			<img src="{{ site.baseurl }}/images/flying-friends/m_kite-mallorca_003.jpg" alt="image01">
		</a>
		<a href="#image-4">
			<img src="{{ site.baseurl }}/images/flying-friends/m_kite-mallorca_004.jpg" alt="image01">
		</a>
		<a href="#image-5">
			<img src="{{ site.baseurl }}/images/flying-friends/m_kite-mallorca_005.jpg" alt="image01">
		</a>
		<a href="#image-6">
			<img src="{{ site.baseurl }}/images/flying-friends/m_kite-mallorca_006.jpg" alt="image06">
		</a>
		<a href="#image-7">
			<img src="{{ site.baseurl }}/images/flying-friends/m_kite-mallorca_007.jpg" alt="image07">
		</a>
		<a href="#image-8">
			<img src="{{ site.baseurl }}/images/flying-friends/m_kite-mallorca_008.jpg" alt="image08">

		</a>
		<a href="#image-9">
			<img src="{{ site.baseurl }}/images/flying-friends/m_kite-mallorca_009.jpg" alt="image09">

		</a>
		<a href="#image-10">
			<img src="{{ site.baseurl }}/images/flying-friends/m_kite-mallorca_010.jpg" alt="image10">
		</a>
</section>
