<div>
<script type="text/javascript" language="JavaScript">
<!--
//
// Type the number of images you are rotating.

NumberOfImagesToRotate = 68;

function printImage() {
var r = Math.ceil(Math.random() * NumberOfImagesToRotate);

// Specify the first and last part of the image tag. 
// if random is less then 10 add 0 to picture number

if (r < 10) {FirstPart = '<h4>IMPRESSIONS</h4><a href="{{site.baseurl }}/{{page.lang }}/flying-friends"><img src="/images/flying-friends/l_kite-mallorca_00';}
else {FirstPart = '<h4>IMPRESSIONS</h4><a href="{{site.baseurl }}/{{page.lang }}/flying-friends"><img src="/images/flying-friends/l_kite-mallorca_0';}

LastPart = '.jpg" width="100%" alt="Fotos von Kitesurfer bei Kite-Mallorca" title="Fotos vom Kitesurf mit Kite-Mallorca" >Noch mehr Fotos</a>';

document.write(FirstPart + r + LastPart);
}
printImage();
-->
</script>

<!-- Fallback Content -->
<noscript>
	<div>
		<h4>IMPRESSIONS</h4><a href="{{site.baseurl }}/{{page.lang }}/flying-friends"><img src="/images/flying-friends/l_kite-mallorca_005.jpg" width="100%" alt="Fotos von Kitesurfer bei Kite-Mallorca" title="Fotos vom Kitesurf mit Kite-Mallorca" >Noch mehr Fotos</a>
	</div>
</noscript>
<!-- END Fallback Content -->
</div>