<div>
	<div>
	<figure itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
		<a href="{{ site.baseurl }}/{{ page.lang }}/flying-friends/"><h4>Impressionen</h4></a>
		{% if page.amp == true %}
		<a href="{{site.baseurl }}/amp/{{page.lang }}/flying-friends/">{% if page.image.picnum %}<amp-img src="/images/flying-friends/m_kite-mallorca_0{{ page.image.picnum }}.jpg" width="320" height="240" layout="responsive" alt="{{ page.subtitle }}" title="{{ page.subtitle }}" ></amp-img>{% else %}<amp-img src="/images/flying-friends/m_kite-mallorca_008.jpg" width="320" height="240" layout="responsive" alt="Fotos von Kitesurfer bei Kite-Mallorca" title="Fotos von Kitesurfer bei Kite-Mallorca" ></amp-img>{% endif %}» mehr Bilder</a>
		<meta itemprop="url" content="{{ site.url }}/images/flying-friends/m_kite-mallorca_0{{ page.image.picnum }}.jpg">
		{% else %}		
		<a href="{{site.baseurl }}/{{page.lang }}/flying-friends/">{% if page.image.picnum %}<img class="lazyload" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="/images/flying-friends/m_kite-mallorca_0{{ page.image.picnum }}.jpg" width="100%" alt="{{ page.subtitle }}" title="{{ page.subtitle }}" >{% else %}<img class="lazyload" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="/images/flying-friends/m_kite-mallorca_008.jpg" width="100%" alt="Fotos von Kitesurfer bei Kite-Mallorca" title="Fotos von Kitesurfer bei Kite-Mallorca" >{% endif %}» mehr Bilder</a>
		<meta itemprop="url" content="{{ site.url }}/images/flying-friends/m_kite-mallorca_0{{ page.image.picnum }}.jpg">
		{% endif %}
		
		<meta itemprop="width" content="100%">
    	<meta itemprop="height" content="100%">
	</figure>
	</div>
<!--
{% if page.amp != true %}</noscript>{% endif %}
-->
<!-- END Fallback Content -->
</div>
