<div class="calltoaction">
	<h4 class="centered">UNSERE KURSE IM KITESURFEN</h4>
	    {% assign lang = site.data.texts[page.lang] %}
	    {% if page.buchung != true %}
	<div class="centered">
	    <a class="btn-fixonbottom" href="{{site.baseurl }}/{{ lang.calltoactionlink }}">{{ lang.calltext }}</a>
	</div>
	    {% endif %}
		<ul>
			<li><a href="{{site.baseurl }}/{{page.lang }}/{{ page.t.link20 }}" title="Direkt {{ page.t.menutxt20 }} reservieren">Schnupperkurs, 3 Stunden/1 Tag</a></li>
			<li><a href="{{site.baseurl }}/{{page.lang }}/{{ page.t.link21 }}" title="Direkt {{ page.t.menutxt21 }} reservieren">Anfängerkurs, 10 Std/3-5 Tage</a></li>
			<li><a href="{{site.baseurl }}/{{page.lang }}/{{ page.t.link22 }}" title="Direkt {{ page.t.menutxt22 }} reservieren">Fortgeschritten, nach Bedarf</a></li>
			<li><a href="{{site.baseurl }}/{{page.lang }}/{{ page.t.link23 }}" title="Direkt {{ page.t.menutxt23 }} reservieren">Hydrofoilkurs, ab 2 Stunden</a></li>
			<li><a href="{{site.baseurl }}/{{page.lang }}/{{ page.t.link24 }}" title="Direkt {{ page.t.menutxt24 }} reservieren">Privatstunden, nach Belieben</a></li>
		</ul>
	{% if page.amp == true %}
	{% else %}
	{% endif %}
</div>