<p>Für Facebook Messenger auf Bild klicken<a href="https://m.me/kitesurfmallorca">
{% if page.amp == true %}
<amp-img class="centered" width="258" height="194" layout="responsive" src="{{ site.baseurl }}/images/gerhard-und-daniel.jpg" alt="Foto von Daniel und Gerhard" />
{% else %}
<img class="lazyload centered" width="100%" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{ site.baseurl }}/images/gerhard-und-daniel.jpg" alt="Foto von Daniel und Gerhard" />
{% endif %}
</a></p>
<h4 class="centered">Für mehr Infos:</h4>
<h6 class="centered"><a href="{{ site.baseurl }}/de/kontaktiere-uns">Daniel &amp; Gerhard</a> <br /><a href="tel:+34696264729">+34-696-264729</a><br /></h6>
<p class="backforward">moc.acrollam-etik@maet</p>
