<script type="text/javascript">
//doesn't block the load event
function createIframe(){
  var i = document.createElement("iframe");
  i.src = "https://www.youtube.com/embed/El49Bnx505w";
  i.high = "315px"
  i.width = "420px"
  i.scrolling = "no";
  i.frameborder = "0";
  i.allowfullscreen = "true";
  i.allowTransparency = "false";
  document.getElementById("video").appendChild(i);
};
        
// Check for browser support of event handling capability
if (window.addEventListener)
window.addEventListener("load", createIframe, false);
else if (window.attachEvent)
window.attachEvent("onload", createIframe);
else window.onload = createIframe;
</script>
<div id="video"><noscript><iframe width="420" height="315" src="https://www.youtube.com/embed/El49Bnx505w" frameborder="0" allowfullscreen></iframe></noscript></div>
