<script type="text/javascript">
//doesn't block the load event
function createIframe(){
  var i = document.createElement("iframe");
  i.src = "https://www.youtube.com/embed/El49Bnx505w";
  i.high = "100%"
  i.width = "100%"
  i.style = "border:none; width:640; high:360; allowfullscreen;";
  i.scrolling = "no";
  i.frameborder = "0";
  i.allowfullscreen;
  i.allowTransparency = "false";
  document.getElementById("video").appendChild(i);
};
        
// Check for browser support of event handling capability
if (window.addEventListener)
window.addEventListener("load", createIframe, false);
else if (window.attachEvent)
window.attachEvent("onload", createIframe);
else window.onload = createIframe;
</script>
<div id="video"><noscript><iframe src="https://www.youtube.com/embed/El49Bnx505w" frameborder="0" allowfullscreen></iframe></noscript></div>
