<div id="chatlinks"></div>
<h4>Alguna pregunta?</h4>
<form method="POST" action-xhr="https://formspree.io/team@kite-mallorca.com" target="_blank">
  <input type="email" name="_replyto" placeholder="Tu correo electrónico" required>
  <input type="hidden" name="_subject" value="Información sobre curso y/o alquiler en kitesurf">
  <textarea name="body" placeholder="Anota aquí tus preguntas"></textarea>
  <span>Si nos dejas tu nombre y tu móvil, te añadiremos a nuestra lista de información de viento y spot por el tiempo de tu estancia. Este servicio es gratuito y será efectuado por Whatsapp o SMS.</span><br><br>
  <input type="hidden" name="_next" value="{{ site.url }}/amp/es/gracias">
  <input type="submit" value="Enviar">
    <div submit-success>
      <template type="amp-mustache">
        Tu formulario no ha sido enviado, por favor, clica otra vez sobre Enviar.
      </template>
    </div>
    <div submit-error>
      <template type="amp-mustache">
        Muchas gracias por tu encuesta. La procesaremos en las próximas horas y nos pondremos en contacto contigo.
      </template>
    </div>
</form>
<span>
  O envíanos un correo electrónico a
  <p class="backforward">moc.acrollam-etik@maet</p>
</span>
