{% if page.amp == true %}
<amp-iframe src="https://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FKitesurfMallorca&amp;width240&amp;height=250&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=296657447029072" layout="responsive" sandbox="allow-scripts allow-same-origin allow-popups" scrolling="no" frameborder="0" height="250" width="240"></iframe>
{% else %}
<script>
function createIframe(){
  var i = document.createElement("iframe");
  i.src = "//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FKitesurfMallorca&amp;width240&amp;height=250&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=296657447029072";
  i.style = "border:none; overflow:hidden; height:200px; width:100%;";
  i.scrolling = "no";
  i.frameborder = "0";
  i.allowTransparency = "true";
  document.getElementById("faceframe").appendChild(i);
};
if (window.addEventListener)
window.addEventListener("load", createIframe, false);
else if (window.attachEvent)
window.attachEvent("onload", createIframe);
else window.onload = createIframe;
</script>
<div id="faceframe"><noscript><iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FKitesurfMallorca&amp;width&amp;height=250&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=296657447029072" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:250px; width:100%;" allowTransparency="true"></iframe></noscript></div>
{% endif %}