<!-- panel with buttons -->
<div class="photos">
            <div id="picleft">
                <img src="{{ site.baseurl }}/images/tina_with_daniel.jpg" alt="Tina and Daniel on the beach" title="Tina and Daniel on the beach" />
                <div></div>
            </div>
            <div id="picmiddle">
                <img src="{{ site.baseurl }}/images/roberto.jpg" alt="Roberto, our first student ever, kitesurfing at the homespot Sa Marina" title="Roberto, our first student ever, kitesurfing at the homespot Sa Marina" />
                <div></div>
            </div>
            <div id="picright">
                <img src="{{ site.baseurl }}/images/kerstin_und_daniel.jpg" alt="Daniel explaining Kerstin the kite setup" title="Daniel explaining Kerstin the kite setup" />
                <div></div>
            </div>        
</div>
