<div class="calltoaction">
	<h4 class="centered">NUESTROS CURSOS DE KITESURF</h4>
	    {% assign lang = site.data.texts[page.lang] %}
	    {% if page.buchung != true %}
	<div class="centered">
	    <a class="btn-fixonbottom" href="{{site.baseurl }}/{{ lang.calltoactionlink }}">{{ lang.calltext }}</a>
	</div>
	    {% endif %}
		<ul>
			<li><a href="https://kite-mallorca.com/es/reserva-inmediata/#!/e/72540446a4965399faa6cfed67b2623c" title="Reserva aquí tu cursillo de bautismo en el kitesurf">Curso de iniciación, 3 horas en 1 día</a></li>
			<li><a href="https://kite-mallorca.com/es/reserva-inmediata/#!/e/58b6f0932d788eb91e5ae9c314c2f23b" title="Reserva aquí tu curso básico de kitesurf">Curso básico, 10 horas en 3-5 días</a></li>
			<li><a href="https://kite-mallorca.com/es/reserva-inmediata/#!/e/0d459127c3c947893aadb546dd5392e9" title="Reserva aquí tu curso avanzado de kitesurf">Para avanzados según necesidad</a></li>
			<li><a href="https://kite-mallorca.com/es/reserva-inmediata/#!/e/0d459127c3c947893aadb546dd5392e9" title="Reserva aquí tu curso de idrofoil">Curso de idrofoil, min. 2 horas</a></li>
			<li><a href="https://kite-mallorca.com/es/reserva-inmediata/#!/e/0d459127c3c947893aadb546dd5392e9" title="Reserva aquí tus clases privadas">Clases privadas, las que desees</a></li>
		</ul><br />
	{% if page.amp == true %}
	{% else %}
	{% endif %}
</div>