<h4 class="centered">KITE-MALLORCA</h4>
<h6 class="centered">miembro oficial de<br />
{% if page.amp == true %}
<amp-img src="{{ site.baseurl }}/images/logos/VDWS-Logo.gif" alt="Logo de la VWDS, asociación internacional de Kitesurf" width="300" height="120"></amp-img>
{% else %}
<img class="lazyload" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{ site.baseurl }}/images/logos/VDWS-Logo.gif" border="0" alt="Logo de la VWDS, asociación internacional de Kitesurf" />
{% endif %}
</h6>