---
layout: default
---

<div id="main" role="main">			
	<article class="wrap" itemscope itemtype="http://schema.org/Article">
	  <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="{{ site.url }}{{ page.url }}"/>
		{% if page.image.feature %}
		<div class="page-feature">
			<div class="page-image">
				{% if page.amp == true %}
				<amp-img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}"  itemprop="image" layout="responsive" width="{{ page.image.width }}" height="{{ page.image.height }}">
				{% else %}
				<img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
				{% endif %}
				{% if page.image.credit %}{% include image-credit.html %}{% endif %}
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% endif %}
		{% include breadcrumbs.html %}
		<div class="page-title">
			<meta itemprop="headline" content="{{ page.subtitle }}" />
		</div>
		<div class="inner-wrap">
			<nav class="toc"></nav><!-- /.toc -->
			<div id="content" class="page-content" itemprop="articleBody">
				{{ content }}
				</br>
				<footer class="page-footer">
					{% include page-author.html %}
					  <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
						<div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
						  {% if page.amp == true %}
					      <amp-img src="http://kite-mallorca.com/images/kite-mallorca_150x118.png" width="150" height="118"/>
					      {% else %}
					      <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="http://kite-mallorca.com/images/kite-mallorca_225x225.png"/>
					      {% endif %}
					      <meta itemprop="url" content="http://kite-mallorca.com/images/kite-mallorca_225x225.png">
					      <meta itemprop="width" content="100%">
					      <meta itemprop="height" content="100%"> 
					    </div>
					    <meta itemprop="name" content="Kitesurf Mallorca SL">
					  </div>
					{% if page.share != false %}{% include share-this.html %}{% endif %}
					{% include page-meta.html %}
				</footer><!-- /.footer -->
				<aside>
					{% if page.comments == true %}{% include comments.html %}{% endif %}
				</aside>
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->
		{% if page.snippets == true %}{% include snippets.html %}{% elsif page.shortsnippets == true %}{% include shortsnippets.html %}<!-- /.snippets -->{% endif %}
	</article><!-- ./wrap -->
</div><!-- /#main -->