---
layout: default
---

<div id="main" role="main">
	<article class="wrap" itemscope itemtype="https://schema.org/Article">
	  <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="{{ site.url }}{{ page.url }}"/>
		{% if page.buchung == true %}<noscript>{% endif %}
		{% if page.image.feature %}		
		<div class="page-feature">
			<div class="page-image" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
				{% if page.amp == true %}
				<amp-img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" layout="responsive" width="{{ page.image.width }}" height="{{ page.image.height }}"></amp-img>
				{% assign lang = site.data.texts[page.lang] %}
				<button class="btn">
				<a href="#chatlinks">{{ lang.chatlinktoContact }}</a>
				</button>
				{% else %}
				<img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}">
				{% endif %}
				{% if page.image.credit %}{% include image-credit.html %}{% endif %}
				<meta itemprop="url" content="{{ base.url }}/images/{{ page.image.feature }}"></meta>
        		<meta itemprop="width" content="{{ page.image.width }}"></meta>
        		<meta itemprop="height" content="{{ page.image.height }}"></meta>
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% if page.buchung == true %}</noscript>{% endif %}
		{% endif %}
		{% include breadcrumbs.html %}
		<div class="page-title">
			<meta itemprop="headline" content="{{ page.subtitle }}" />
		</div>
		<div class="inner-wrap">
			<nav class="toc"></nav><!-- /.toc -->
			<div id="content" class="page-content" itemprop="articleBody">
				{{ content }}
				<br>
				<footer class="page-footer">
					{% include page-author.html %}
					  <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
						<div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
						  {% if page.amp == true %}
					      <amp-img src="https://kite-mallorca.com/images/kite-mallorca_150x118.png" width="150" height="118"/>
					      {% else %}
					      <img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAACxCAMAAAAF4yq/AAAABGdBTUEAALGPC/xhBQAAAAFzUkdC
AK7OHOkAAAGnUExURUdwTOEAGeAAGv///////yKZzP///+IAGCSW0CSVzt0AIiWZ0SSX0CSW0CWZ
0SaY0CmczSaY0COX0COW0CaY0SWZ0SSX0eIAGv///yOXziWXziOW0CCUzSSX0CWX0+EAGv//////
/yKWziOX0OEAGd4AGP///yWZ0P///////////+IAGf///+MAGySZ0uIAGf///+EAGeIAGiaY0eIA
GuEAGf///yWZ0OEAGieZ0eEAGSaX0f///+AAGuEAGv///5LM6OAAGuAAGfa+xLXd7oLD47ze8N4A
G4XF5JnO6Ojz+sXj8r3g8Pa+xWe33vB+jMgSMOg+UutVZfSos+ZAVfa+xuUiN1Ot2kSn10V+sTON
w3vA41Gs2f///+EAGiaZ0eIAGiSX0Pe/xeg/U1yy3PB/jDOf0/3v8Mjl8/H4/JLM6OQfNq3Y7dbr
9uPy+eIPKOYvRPnP1E6s2YTF5e5vfne/4rvf8KDS6upPYVRyo2m43/vf4vWvt0Gl1vOfqfGPmoNM
dexfb6YvU70cPHdWgLImR49CamBplzGPxcVcdXWv01aCsckTMN70vQ4AAABddFJOUwC/fz9/D78/
vz8P3+9/X38fn8+f779vf59PL98fry9fDx9fj88f348vX+/vzy8/n49P38+Pb2+vr2/vT6+v309/
j59/v2/PL4/Pn++fv89/f3+PLz8/799vv9+f7y7g9EAAAAw7SURBVHja7Z2JV9rKHscJEBZFURFQ
EVFxq7VarVqtvX13e/u+r5CCCO77VuvS3ne39+77o9/MJIGZZLJAJhE4+Z57Wpsbk/nMb51JUI/H
lStXrly5cuXKlStXrly1hyaDmWSSk7WWTAYn24atI5hcm3hLE5d81vp0i8t0OFlLy61symcGdJIW
JlsVb+mtWS13tF5aqQMPaqK54tE3NftE94QM97ZePW0WxJFOYfpJDmhMO7ckl942oCZBHOkXBOGX
kHBVyz0Xnr5tTBPNEIv8CwAonEHCAQ0+ctDccjK5GERKJhcMfDfZBITTEFAoQcIAzT+Xa6V8YYXW
sjzLrOn46eMbcV7QJUyK/rm0sKIXUh0ZzTBdeXQf7dQjDC4huoyJ6p3RCNWJxyaMCtqEHcD7JlbM
psMOjYh8ZMAeQZtw8elapq4oWqASBh+X8CVBSOTSxUzdSYJrPsJ5gSD0W11zLDUd4Ysq4QULQk+w
2Qi7q4DCLiR8YvmKXHMRypWiSujz2GDExyz50RqgcMmG0KNaHT91AGRmVMOE/RjhNiRkcLOMknDN
brz1kSfUdrPakEo6YEQ46XTX9lL4Kxj5qG6xR4KAcyzuqHRTm7dr1sWxU+OrV0UYYHHLZUfbUhRp
B/QqMEIAlrSXh3VqkSTM2EvYK+UQWiWPqwn9LO75zMnloRhp+9ShzxOAjFoaJCeX+L1yLX+u16+x
LPhQT502IRx8QK9fY03IOW1CKiHer9UK/hhrQmdMSCWMCjRCD2vCjCMmhPuEAb1+jTVhbaXP2VwL
sUIQ0C32csGfYnPjZJXQ5g3vqDbhiEAlDDAmtDnN1ByxpGo447YSLji0jRgl2hXdSgFUZkjIOfRQ
plOTUFUp5KbtNVNCm/MobiclYVTQIPSzJFzwOGZCJWGPYDPhkiNP1fBQuyMJ43YToiCcdNCEKE+O
6qUZGwhtf/TbrawEPu1uhjVh0IEsozAhQdgr2E246MRzX4Un7tQI5wXbCZP2p1GlCWFXvapdCvWf
cdevNQcAu9XrBsk82A7paQk/5ZQhYYfjJhSu5F20DXwHuGRXX+q8CatL4B4sj57l1ISzDg1w7PkM
WxNWmxps8+luR0F4yG4FbMQ3YPUh3jp14TBDForLXO5fdu3TaG2qRKMin1VAWkk/gPuJuPPegNxD
dm/77Pba6Hy9Qq/IN2vRRakrhwtw3b/hRt0BqSeu3k3028gHACFfbsoqIHXlIGzvnJEGmxul7eq/
to9PmPa9Ro+3Rq1e7aVgrFJudky5xigz3Iqi8An/DOTYPPuZNwFY3kGhEFfFqh2pRuQro2foLN6E
8HSaILwUbxRXtQXa75c2POGiS92h6bOeY/A0Uz7VBLyRZnJaeZh5IM5Lk3i6k2MTgnia2b/QArzb
GaAn3R3Gbtodxx/cUZ9/1a8XtVyyq0W4PaBRVvaZ1ovuTuK6udkfsbhq1e/Kh7ltDcDdAa329Y5d
NuWj1bajLIbgHBPn6MazxqFGEA5op91tRtmuB2sPpRBk4qHiG/e1pFGmAZ7+Qqc3QEV/ymo62MBz
9BlDD8UAxXm7oVXCX+HfQSkjViORj+LlSqqCgTHGgJLn/5xC+DN6XsLaVXEV0mh1ILe5TtGKjFWN
rQGK4ZQboDSo3UYN3o0FP+XXFd2G6KFzM4xycz+Z9NWdtRqQtgq5anQzY0M5XeVthimGGKsIODCq
rga9ZnrY/Uba45Fp1Zr0Bjn8FKMFJx9XAVJ61G719wlaiIE6HLVnWt0Ll69EA46yAdzoVwJK6XBD
H5CSaqrhYzZ6RqZp1yihFDPHyIA9caUBap8irKW2zhHdHogyPhNFY2OaupKRDMio/+PxbCGWCXz6
ZcQoT7eAVmcHg2hKt7vpWX/ZL+hMEKMaiLV/1fJD+j7s7+PRnnpXk+UzeK2pVfowR7p7NZehogFn
n9jAJ8aPfvL6I/rI4OJv/bJ+o71MPr2CHjHn9yngovF+vf2RQ3YZRtE/iA0ScWlI4/V6v3gdAEKh
UcwjbeVkHRrs55ztXm5v/+TLTz/98fx6dDputIEgDiLAosb3RBU3u4CRM7fq8636/c8B0Oz7o7yk
YpVHTajY97aoM+PwbTRDl2D/UMnh2sybIrxkx1eCXj3rt+qgI5QUdgdrRPGaINzKmyPM3THiK4vN
kJUM2jO/Pk17i6IEfL/ysIeDVFFMEG6zAUT15XYvn3/DcV7vSjBYxzPEjkXv7/4e/4fGrhLI6pX7
azDqcxywsmeakEkkXsAMWtzME3rFcZ95V4xfOvG+gmf/+9vvvldbb/egUtw6Rpc7JoLwOm+e8LDM
JACVfFVxBtbkaqf+75sPX79790MJ6mJ3H1z2umaqE3zQ9/k6CHNXFvm29fiA9F+O8qrO38TGVjv6
gA+5VihMEeYurPLd7+X15NUjfGOOcJMY8XHeFGFR0snOqRW+ypY+HwhIPcK8KcIjolCc540IlVds
EPECBMrJx6O8oYKWCW+1CoVJwkYQyyiLH+fNyDLhR6JQHDVAmNu5qY/vdH8nVzRjPiaEexXNQmGa
sK6MWj47yJ2c7+VNyyohUSge8g0S5g7Nlf7yxWXu9mMdeNYJidR/ctQwIWjgSibwilub+XpljZAo
FBVa5JsmBIz//V6nNOweEB29Q4RH7/UKRb2E4ISvvn5HSSwXV9uqNYtDhPc44G3eOiHqgr/68OG7
d0gfPnz7zX/oqzJnCK/1C0WDhDonOE1IFgqNFNDShMWciZu3MiGx6j3JtyGh5rLePsLi1vkm1LHz
hB/zjhAqphWuvo6dIbzNPwahXoJjTPj+qN0J9e7SHoS3bU9I70jbilC7WLQLIX1sbUWo3W20MuGW
3japPYTviw9bUNeoszG5FWWh8z4x05i29NqCfB7z0IaEiicQm21ISPopvXdrccJj49amxQkVfnrd
hoSkn1aO2pDw2Ki1aXlChZ+etyGhwk/32pDwuKLb2rQBIfkujWoQ7UBI7gwbv6nQgoTk7v7JkaOE
xrunDAgVfvpgH+E94LlG66f7YrH43nD5bUj4iUlChZ9uOrkCNiTUfZ8maJaQ9FOiBX90ws9032v7
3CShwk9vm4jQ6Id+ie8mGhMq/PS6WQhfeY1fMA1mvN7POc6IkPRTrLV5JMI33Cdeb6a+XxowCV+9
/0MgMEUlVPhp8XEIOci1GPyp5ZfZZ3w+v9/PcRPafnruGOFs4NfIXEGbfnpSRzC46PV6OY77S4X6
bo0thFOBwGu/f9Xnm/E4qzEfMu4A/MTFCVtCwBR4jqB8o56mEfzUzMoX4mdMAnN1EaLfKgp8A3jf
nxw3lCVNir8uLbjilfV76TNQwDi+PwdtiyZXrly5cuXKlStXbaWhcDg8jL4arn4lCxwZUp7MKw+o
rgivQxzgw1Dqn8IQDqu+O0y5nlWFCoVCGn3VB77qIv4fOJJSnhxWHlDOGLxgITWID7uAlEoQJ3ZF
0FFiCgfBgUE7CCNopgtKwmHVCIwJh8RxFwrjKsJCAUPk+6RjxPVi4EDMDkJ0m3EVYUIxKjOE4ECM
h98Z4XHCvnA4TThEFrKEhwbTxPUi8nQzJowUstL8kYR9hT7wX12EQwCDFy/WhROGRB8h3COhGgtw
0i72bgrGmEYYKfA3QQhGkQA3HK6HEJyflcbap0eYUEa45KQRnr2bgjEC/+Th7CdIQvDPoTA51YaE
IdkEOI5IGJMzmkdpY8xJY8BxIuwJh2FeSBRSYfK2fXCaI4SbmiEM0wgjoRSwKk/MK81Jx6EXDDEn
BCwx8HeWJBxG/pIm3LRhQigs96gvJBmWhydn2RNmkf8PkoQJ5HAJwk0bJkx1pYgAC9ESTQQ6M/gz
xZ4QogH3JwnlgoVua5YwJo18GM/6KA55og5kKQllUL4hYzdFY4yAipEmCYer9yvw5gkTUjoZx9OK
mGnSeB0YJJ22Wu5FZdkTplETQhCCsWZh45jGc4IhIS9agE/h3yUSEtAeOfHwPOakKXjDwQJjN0Vj
HC9IQd6FO+mwNNtp/OS+EBB+IEQcAKkwku3qw8shVg95wiUjsa50JIwdicnwQ8wJh9EYcMJheSaJ
gYUkN/JoHpB9DasMEiGcM6xCjEcUfWlM9uIsLQtZUBYZIBYah8uCUHUIg6FQonrCEHYyaTLVATD0
NMiJCZ5YboRgZI2HQkTLlIUeka7WorR8lbB4uiu6/g9m7z3ICZ60owAAAABJRU5ErkJggg==" alt="Kite Mallorca Logo" title="Kite Mallorca home">
					      {% endif %}
					      <meta itemprop="url" content="https://kite-mallorca.com/images/kite-mallorca_225x225.png">
					      <meta itemprop="width" content="100%">
					      <meta itemprop="height" content="100%"> 
					    </div>
					    <meta itemprop="name" content="Kitesurf Mallorca SL">
					  </div>
					{% if page.share != false %}{% include share-this.html %}{% endif %}
					{% include page-meta.html %}
				</footer><!-- /.footer -->
				<aside>
					{% if page.comments == true %}{% include comments.html %}{% endif %}
				</aside>
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->
		{% if page.snippets == true %}{% include snippets.html %}{% elsif page.shortsnippets == true %}{% include shortsnippets.html %}<!-- /.snippets -->{% endif %}
	</article><!-- ./wrap -->
</div><!-- /#main -->