<!DOCTYPE html>
{% if page.amp == true %}
<html ⚡ lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">

    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description | strip_html }}">{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
    {% endif %}
    {% include open-graph.html %}
    {% if author.google.plus %}<link rel="author" href="https://plus.google.com/{{ author.google.plus }}"/>{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace: 'amp/','' }}" />
    <link rel="alternate" hreflang="x-default" href="{{ site.url }}/amp/{{ page.en-url }}" />
    <link rel="alternate" hreflang="en" href="{{ site.url }}/amp/{{ page.en-url }}" />
    <link rel="alternate" hreflang="es" href="{{ site.url }}/amp/{{ page.es-url }}" />
    <link rel="alternate" hreflang="de" href="{{ site.url }}/amp/{{ page.de-url }}" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    <link rel="shortcut icon" href="{{ site.url }}/images/favicon.png">

    {% include structured-data.html %}

    {% include amp-inline-css.html %}


<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
<noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
</head>
{% else %}
<html>
  <head>
  {% if page.langrouted == true %}{% include lang_router.html %}{% endif %}
    <meta charset="utf-8">

    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description | strip_html }}">{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
    {% endif %}
    {% include open-graph.html %}
    {% if author.google.plus %}<link rel="author" href="https://plus.google.com/{{ author.google.plus }}"/>{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}

        <!-- Multilinguale behandlung durch Google -->
    <meta http-equiv="language" content="{{ page.lang }}">

    <link rel="amphtml" href="{{ site.url }}/amp{{ page.url }}" />
    <link rel="alternate" hreflang="x-default" href="{{ site.url }}/{{ page.en-url }}" />    
    <link rel="alternate" hreflang="en" href="{{ site.url }}/{{ page.en-url }}" />
    <link rel="alternate" hreflang="es" href="{{ site.url }}/{{ page.es-url }}" />
    <link rel="alternate" hreflang="de" href="{{ site.url }}/{{ page.de-url }}" />
    <link href="{{ site.url }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Atom Feed">
    <link href="{{ site.url }}/sitemap.xml" type="application/xml" rel="sitemap" title="Sitemap">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    <link rel="shortcut icon" href="{{ site.url }}/images/favicon.png">

    {% include inline-css.html %}

    {% include yandex_metrika.html %}

    {% include structured-data.html %}

      <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-20548983-1', 'auto');
      ga('send', 'pageview');

    </script>
      <!-- End Google Analytics -->

      <!-- background images -->
      <script>
        window.addEventListener("load", function(event) {
        document.body.style.backgroundImage = "url({{ site.url}}/images/{{ page.image.background }})";
        });
      </script>
      <noscript>
          <style type="text/css">
              body 
               {
                background-image: url({{ site.url}}/images/{{ page.image.background }});
              }
          </style>
      </noscript>
   </head>

{% endif %}

  <body>
  {% if page.amp == true %}{% include amp-analytics.html %}{% endif %}
    <div id="page-wrapper">
      {% include header.html %}
      {% if page.t.teaser %}
        <div class="myteaser">
                <span><h2>{{ page.t.teaser }}</h2></span>
        </div>
      {% endif %}  

      {{ content }}

    </div>
      {% include footer.html %}
    
      {% assign lang = site.data.texts[page.lang] %}
    <a class="btn-fixonbottom" href="tel:+34696264729">{{ lang.calltext }}</a>
    
    {% if page.amp == false and page.toc == true %}
    <script type="text/javascript">
      $('.toc').toc({
        'selectors': 'h2', //elements to use as headings
        'container': '.page-content', //element to find all selectors in
        'smoothScrolling': true, //enable or disable smooth scrolling on click
        'prefix': 'toc', //prefix for anchor tags and class names
        'onHighlight': function(el) {}, //called when a new section is highlighted 
        'highlightOnScroll': true, //add class to heading that is currently in focus
        'highlightOffset': 100, //offset to trigger the next headline
        'anchorName': function(i, heading, prefix) { //custom function for anchor name
          return prefix+i;
        },
        'headerText': function(i, heading, $heading) { //custom function building the header-item text
          return $heading.text();
        },
        'itemClass': function(i, heading, $heading, prefix) { //custom function for item class
          return $heading[0].tagName.toLowerCase();
        }
      });
    </script>
    {% endif %}

  </body>

</html>
