---
layout: compress
---

<!DOCTYPE html>

{% if page.amp == true %}
<html ⚡ lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">

  {% include amp-inline-css.html %}

    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description | strip_html }}">{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
    {% endif %}
    {% include open-graph.html %}
    {% if author.google.plus %}<link rel="author" href="https://plus.google.com/{{ author.google.plus }}"/>{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace: 'amp/','' }}" />
    <link rel="alternate" hreflang="x-default" href="{{ site.url }}/amp/{{ page.en-url }}" />
    <link rel="alternate" hreflang="en" href="{{ site.url }}/amp/{{ page.en-url }}" />
    <link rel="alternate" hreflang="es" href="{{ site.url }}/amp/{{ page.es-url }}" />
    <link rel="alternate" hreflang="de" href="{{ site.url }}/amp/{{ page.de-url }}" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <script async src="https://cdn.ampproject.org/v0.js"></script>
    {% if page.amp-mustache == true %}<script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"></script>{% endif %}
    {% if page.amp-form == true %}<script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>{% endif %}
    {% if page.amp-iframe == true %}<script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>{% endif %}
    <link rel="shortcut icon" href="{{ site.url }}/images/favicon.png">

    {% include structured-data.html %}

<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
<noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
</head>
{% else %}
<html>
  <head>
    <meta charset="utf-8">
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5J849CQ');</script>
<!-- End Google Tag Manager -->

  {% if page.langrouted == true %}
    {% include lang_router.html %}
  {% endif %}

    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description | strip_html }}">{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
    {% endif %}
    {% include open-graph.html %}
    {% if author.google.plus %}<link rel="author" href="https://plus.google.com/{{ author.google.plus }}"/>{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}

        <!-- Multilinguale behandlung durch Google -->
    <meta http-equiv="language" content="{{ page.lang }}">

    <link rel="amphtml" href="{{ site.url }}/amp{{ page.url }}" />
    <link rel="alternate" hreflang="x-default" href="{{ site.url }}/{{ page.en-url }}" />    
    <link rel="alternate" hreflang="en" href="{{ site.url }}/{{ page.en-url }}" />
    <link rel="alternate" hreflang="es" href="{{ site.url }}/{{ page.es-url }}" />
    <link rel="alternate" hreflang="de" href="{{ site.url }}/{{ page.de-url }}" />
    <link href="{{ site.url }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Atom Feed">
    <link href="{{ site.url }}/sitemap.xml" type="application/xml" rel="sitemap" title="Sitemap">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    <link rel="shortcut icon" href="{{ site.url }}/images/favicon.png">
    {% if page.shop == true %}{% include shop-css.html %}{% else %}
    {% include inline-css.html %}
    {% endif %}
    {% include yandex_metrika.html %}

    {% include structured-data.html %}

      <!-- Google Analytics -->
    <script>
      var dataLayer = window.dataLayer = window.dataLayer || [];
      dataLayer.push({
        'fireGtm': true
      });
    </script>
      <!-- End Google Analytics -->

      <!-- background images -->
      <script>
        window.addEventListener("load", function(event) {
        document.body.style.backgroundImage = "url({{ site.url}}/images/{{ page.image.background }})";
        });
      </script>
      <noscript>
          <style type="text/css">
              body 
               {
                background-image: url({{ site.url}}/images/{{ page.image.background }});
              }
          </style>
      </noscript>
   </head>

{% endif %}

  <body>
  {% if page.amp == true %}
  {% include amp-analytics.html %}
  {% else %}
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5J849CQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    

  {% include blazy.html %}

  {% endif %}
  {% include header.html %}
    <div id="page-wrapper">
      {% if page.t.teaser %}
        <div class="myteaser">
                <span><h2>{{ page.t.teaser }}</h2></span>
        </div>
      {% endif %}  

      {{ content }}

    </div>
    {% include footer.html %}
    
    {% if page.amp == false and page.toc == true %}
    <script>
      $('.toc').toc({
        'selectors': 'h2',
        'container': '.page-content',
        'smoothScrolling': true,
        'prefix': 'toc',
        'onHighlight': function(el) {},
        'highlightOnScroll': true,
        'highlightOffset': 100,
        'anchorName': function(i, heading, prefix) {
          return prefix+i;
        },
        'headerText': function(i, heading, $heading) {
          return $heading.text();
        },
        'itemClass': function(i, heading, $heading, prefix) {
          return $heading[0].tagName.toLowerCase();
        }
      });
    </script>
    {% endif %}

  </body>

</html>
