---
layout: compress
---

<!DOCTYPE html>

{% if page.amp == true %}
<html ⚡ lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    {% if page.description %}<meta name="description" content="{{ page.description | strip_html }}">{% endif %}
    <link rel="preload" as="script" href="https://cdn.ampproject.org/v0.js">
    {% if page.amp-mustache == true %}<link rel="preload" as="script" href="https://cdn.ampproject.org/v0/amp-mustache-0.2.js">{% endif %}
    {% if page.amp-form == true %}<link rel="preload" as="script" href="https://cdn.ampproject.org/v0/amp-form-0.1.js">{% endif %}
    {% if page.amp-iframe == true %}<link rel="preload" as="script" href="https://cdn.ampproject.org/v0/amp-iframe-0.1.js">{% endif %}
    {% if page.amp-video == true %}<link rel="preload" as="script" href="https://cdn.ampproject.org/v0/amp-video-0.1.js">{% endif %}
    <link rel="preload" as="script" href="https://cdn.ampproject.org/v0/amp-analytics-0.1.js">
    <link rel="preconnect dns-prefetch" href="https://www.instagram.com/" crossorigin>
    <link rel="preconnect dns-prefetch" href="https://scontent-lht6-1.cdninstagram.com/" crossorigin>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    {% if page.amp-mustache == true %}<script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>{% endif %}
    {% if page.amp-form == true %}<script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>{% endif %}
    {% if page.amp-iframe == true %}<script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>{% endif %}
    {% if page.amp-video == true %}<script async custom-element="amp-video" src="https://cdn.ampproject.org/v0/amp-video-0.1.js"></script>{% endif %}
    {% if page.amp-instagram == true %}<script async custom-element="amp-instagram" src="https://cdn.ampproject.org/v0/amp-instagram-0.1.js"></script>{% endif %}
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>

    {% include amp-inline-css.html %}

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
    <noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }} - {{ page.url }}{% endif %}</title>
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
    {% endif %}
    {% include open-graph.html %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace: 'amp/','' }}" />    
    {% if page.en-url == '/' %}
    <link rel="alternate" hreflang="x-default" href="{{ site.url }}/amp/" />
    <link rel="alternate" hreflang="en" href="{{ site.url }}/amp/en/" />
    {% else %}
    <link rel="alternate" hreflang="x-default" href="{{ site.url }}/amp/{{ page.en-url }}" />
    <link rel="alternate" hreflang="en" href="{{ site.url }}/amp/{{ page.en-url }}" />
    {% endif %}
    <link rel="alternate" hreflang="es" href="{{ site.url }}/amp/{{ page.es-url }}" />
    <link rel="alternate" hreflang="de" href="{{ site.url }}/amp/{{ page.de-url }}" />
    <meta name="p:domain_verify" content="91740243495340830b9e13883e90a9b7"/>


    <link rel="shortcut icon" href="{{ site.url }}/images/favicon.png">

    {% include structured-data.html %}

</head>
{% else %}
<html lang="{{ page.lang }}" {% if page.t.teaser %}class="no-js"{% else %}style="background-color: #211d44"{% endif %}>
  <head>
    <meta charset="utf-8">

  {% if page.langrouted == true %}
    {% include lang_router.html %}
  {% endif %}

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }} - {{ page.url }}{% endif %}</title>
    {% if page.description %}<meta name="description" content="{{ page.description | strip_html }}">{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
    {% endif %}
    {% include open-graph.html %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}

        <!-- Multilinguale behandlung durch Google -->

    <link rel="amphtml" href="{{ site.url }}/amp{{ page.url }}" />
    {% if page.en-url == '/' %}
    <link rel="alternate" hreflang="x-default" href="{{ site.url }}/" />    
    <link rel="alternate" hreflang="en" href="{{ site.url }}/en/" />
   {% else %}
    <link rel="alternate" hreflang="x-default" href="{{ site.url }}/{{ page.en-url }}" />    
    <link rel="alternate" hreflang="en" href="{{ site.url }}/{{ page.en-url }}" />
    {% endif %}
    <link rel="alternate" hreflang="es" href="{{ site.url }}/{{ page.es-url }}" />
    <link rel="alternate" hreflang="de" href="{{ site.url }}/{{ page.de-url }}" />
    <link href="{{ site.url }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Atom Feed">
    <link href="{{ site.url }}/sitemap.xml" type="application/xml" rel="sitemap" title="Sitemap">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ site.url }}/images/favicon.png">
    <meta name="p:domain_verify" content="91740243495340830b9e13883e90a9b7"/>

    {% if page.shop == true %}{% include shop-css.html %}{% else %}
    {% include inline-above-css.html %}
    {% endif %}

    {% include structured-data.html %}


<link href="/css/main.css" rel="stylesheet" rel="preload" as="style">
<link href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" rel="stylesheet" rel="preload" as="style">
<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
   </head>

{% endif %}

  <body>
  {% if page.amp == true %}
  {% include amp-analytics.html %}
  {% else %}
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5J849CQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> 
<!-- End Google Tag Manager (noscript) -->

  {% endif %}
  {% include header.html %}
    <div id="page-wrapper">
      {% if page.t.teaser %}
        <div class="myteaser">
          <span><strong>{{ page.t.teaser }}</strong></span>
        </div>
      {% endif %}  

      {{ content }}

    </div>
    {% include footer.html %}


    
    {% if page.amp == false and page.toc == true %}
    <script>
      $('.toc').toc({
        'selectors': 'h2',
        'container': '.page-content',
        'smoothScrolling': true,
        'prefix': 'toc',
        'onHighlight': function(el) {},
        'highlightOnScroll': true,
        'highlightOffset': 100,
        'anchorName': function(i, heading, prefix) {
          return prefix+i;
        },
        'headerText': function(i, heading, $heading) {
          return $heading.text();
        },
        'itemClass': function(i, heading, $heading, prefix) {
          return $heading[0].tagName.toLowerCase();
        }
      });
    </script>
    {% endif %}

    {% if page.amp == true %}{% else %}
      {% include deferedloader.html %}
      {% include cookieconsent.html %}
    {% endif %}

  </body>

</html>
    {% if page.amp == true %}{% else %}
    <link href="{{ site.url }}/fonts/lato-v16-latin-regular.woff2&display=swap" crossorigin>
    <link href="{{ site.url }}/fonts/lato-v16-latin-700.woff2&display=swap" crossorigin>

    {% endif %}

