<!DOCTYPE html>
{% if page.amp == true %}
<html ⚡ lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description | strip_html }}">{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
    {% endif %}
    {% include open-graph.html %}
    {% if author.google.plus %}<link rel="author" href="https://plus.google.com/{{ author.google.plus }}"/>{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace: 'amp/','' }}" />
    <link rel="alternate" hreflang="x-default" href="{{ site.url }}/amp/{{ page.en-url }}" />
    <link rel="alternate" hreflang="en" href="{{ site.url }}/amp/{{ page.en-url }}" />
    <link rel="alternate" hreflang="es" href="{{ site.url }}/amp/{{ page.es-url }}" />
    <link rel="alternate" hreflang="de" href="{{ site.url }}/amp/{{ page.de-url }}" />    
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <link rel="shortcut icon" href="{{ site.url }}/images/favicon.png">

    {% include structured-data.html %}

    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description | strip_html }}">{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
    {% endif %}
    {% include open-graph.html %}
    {% if author.google.plus %}<link rel="author" href="https://plus.google.com/{{ author.google.plus }}"/>{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}

    {% include amp-gallery-css.html %}
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
</head>
{% else %}
<html>
  <head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5J849CQ');</script>
<!-- End Google Tag Manager -->
  {% if page.langrouted == true %}{% include lang_router.html %}{% endif %}
    <meta charset="utf-8">

    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description | strip_html }}">{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
    {% endif %}
    {% include open-graph.html %}
    {% if author.google.plus %}<link rel="author" href="https://plus.google.com/{{ author.google.plus }}"/>{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}

        <!-- Multilinguale behandlung durch Google -->
    <meta http-equiv="language" content="{{ page.lang }}">

    <link rel="amphtml" href="{{ site.url }}/amp{{ page.url }}" />
    <link rel="alternate" hreflang="x-default" href="{{ site.url }}/{{ page.en-url }}" />        
    <link rel="alternate" hreflang="en" href="{{ site.url }}/{{ page.en-url }}" />
    <link rel="alternate" hreflang="es" href="{{ site.url }}/{{ page.es-url }}" />
    <link rel="alternate" hreflang="de" href="{{ site.url }}/{{ page.de-url }}" />
    <link href="{{ site.url }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Atom Feed">
    <link href="{{ site.url }}/sitemap.xml" type="application/xml" rel="sitemap" title="Sitemap">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    <link rel="shortcut icon" href="{{ site.url }}/images/favicon.png">

    {% include gallery-css.html %}

    {% include yandex_metrika.html %}

    {% include structured-data.html %}

      <!-- Google Analytics -->
    <script>
      var dataLayer = window.dataLayer = window.dataLayer || [];
      dataLayer.push({
        'fireGtm': true
      });
    </script>
      <!-- End Google Analytics -->

      <!-- background images -->
      <script>
        window.addEventListener("load", function(event) {
        document.body.style.backgroundImage = "url({{ site.url}}/images/{{ page.image.background }})";
        });
      </script>
      <noscript>
          <style type="text/css">
              body 
               {
                background-image: url({{ site.url}}/images/{{ page.image.background }});
              }
          </style>
      </noscript>
      <script src="//cdn.jsdelivr.net/blazy/latest/blazy.min.js"></script> 

   </head>

{% endif %}

  <body>
    {% if page.amp == true %}
    {% include amp-analytics.html %}
    <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
    {% else %}
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5J849CQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {% endif %}
    {% include header.html %}
    <div id="page-wrapper">
      {% include browser-upgrade.html %}

      {% if page.t.teaser %}
        <div class="myteaser">
                <span><h2>{{ page.t.teaser }}</h2></span>
<!--                <div class="space"></div> -->
        </div>
      {% endif %}  
{% if page.amp != true %}      
<!-- Core CSS file -->
<link rel="stylesheet" href="{{ site.url }}/css/photoswipe.css"> 

<!-- Skin CSS file (styling of UI - buttons, caption, etc.)
     In the folder of skin CSS file there are also:
     - .png and .svg icons sprite, 
     - preloader.gif (for browsers that do not support CSS animations) -->
<link rel="stylesheet" href="{{ site.url }}/css/default-skin/default-skin.css">
<!-- Core JS file -->
<script src="{{ site.url }}/js/photoswipe.min.js" async></script> 

<!-- UI JS file -->
<script src="{{ site.url }}/js/photoswipe-ui-default.min.js" async></script> 
{% endif %}
<div id="main" role="main">	
	<article class="wrap" itemscope itemtype="http://schema.org/Article">
		{% if page.image.feature %}
		<div class="page-feature">
			<div class="page-image">
				<img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
				{% if page.image.credit %}{% include image-credit.html %}{% endif %}
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% endif %}
    {% if page.amp == true %}
      <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="{{ site.url }}/{{ page.lang }}"/>
      <meta itemprop="author" content="Daniel von Ledebur">
      <meta itemprop="headline" content="{{ page.subtitle }}">
          <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
            <meta itemprop="url" content="{{ site.url }}/images/{{ page.image.thumb }}">
            <meta itemprop="width" content="100%">
            <meta itemprop="height" content="100%">
          </div>
          <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
            <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                <meta itemprop="url" content="https://kite-mallorca.com/images/kite-mallorca_225x225.png">
                <meta itemprop="width" content="100%">
                <meta itemprop="height" content="100%"> 
            </div>
            <meta itemprop="name" content="Kitesurf Mallorca SL">
          </div>
    {% endif %}
		{% include breadcrumbs.html %}
<!--		<div class="page-title">
			<h1>{{ page.subtitle }}</h1>
		</div> -->
		<div class="inner-wrap">
			<nav class="toc"></nav><!-- /.toc -->
			<div id="content" class="page-content" itemprop="articleBody">
				{{ content }}
				{% include gallery-thumbs.html %}
				<footer class="page-footer">
					{% if page.categories %}{% include page-author.html %}{% endif %}
					{% if page.share != false %}{% include share-this.html %}{% endif %}
					{% include page-meta.html %}
				</footer><!-- /.footer -->
				<aside>
					{% if page.comments == true %}{% include comments.html %}{% endif %}
				</aside>
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->
			<section class="video">
				<div class="item">
		{% include snippets/{{ page.lang }}/video.html %}					
				</div>
			</section>
	</article><!-- ./wrap -->
</div><!-- /#main -->
    </div>
      {% include footer.html %}
    
      {% assign lang = site.data.texts[page.lang] %}
    <a class="btn-fixonbottom" href="tel:+34696264729">{{ lang.calltext }}</a>
    
    {% if page.toc == true %}
    <script type="text/javascript">
      $('.toc').toc({
        'selectors': 'h2', //elements to use as headings
        'container': '.page-content', //element to find all selectors in
        'smoothScrolling': true, //enable or disable smooth scrolling on click
        'prefix': 'toc', //prefix for anchor tags and class names
        'onHighlight': function(el) {}, //called when a new section is highlighted 
        'highlightOnScroll': true, //add class to heading that is currently in focus
        'highlightOffset': 100, //offset to trigger the next headline
        'anchorName': function(i, heading, prefix) { //custom function for anchor name
          return prefix+i;
        },
        'headerText': function(i, heading, $heading) { //custom function building the header-item text
          return $heading.text();
        },
        'itemClass': function(i, heading, $heading, prefix) { //custom function for item class
          return $heading[0].tagName.toLowerCase();
        }
      });
    </script>
    {% endif %}

    <section>
{% include gallery-overlay.html %}
</section>
  </body>

</html>
