---
layout: compress
---

<!DOCTYPE html>
{% if page.amp == true %}
<html ⚡ lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description | strip_html }}">{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
    {% endif %}
    {% include open-graph.html %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace: 'amp/','' }}" />
    <link rel="alternate" hreflang="x-default" href="{{ site.url }}/amp/{{ page.en-url }}" />
    <link rel="alternate" hreflang="en" href="{{ site.url }}/amp/{{ page.en-url }}" />
    <link rel="alternate" hreflang="es" href="{{ site.url }}/amp/{{ page.es-url }}" />
    <link rel="alternate" hreflang="de" href="{{ site.url }}/amp/{{ page.de-url }}" />    
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <link rel="shortcut icon" href="{{ site.url }}/images/favicon.png">
    <meta name="p:domain_verify" content="91740243495340830b9e13883e90a9b7"/>

    {% include structured-data.html %}

    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description | strip_html }}">{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
    {% endif %}
    {% include open-graph.html %}
    {% if author.google.plus %}<link rel="author" href="https://plus.google.com/{{ author.google.plus }}"/>{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}

    {% include amp-gallery-css.html %}
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
</head>
{% else %}
<html lang="{{ page.lang }}" class="no-js">
  <head>
    <meta charset="utf-8">
    <script src="{{ site.url }}/js/lazysizes.min.js" async=""></script>


  {% if page.langrouted == true %}{% include lang_router.html %}{% endif %}

    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description | strip_html }}">{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
    {% endif %}
    {% include open-graph.html %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}

        <!-- Multilinguale behandlung durch Google -->
    <meta http-equiv="language" content="{{ page.lang }}">

    <link rel="amphtml" href="{{ site.url }}/amp{{ page.url }}" />
    <link rel="alternate" hreflang="x-default" href="{{ site.url }}/{{ page.en-url }}" />        
    <link rel="alternate" hreflang="en" href="{{ site.url }}/{{ page.en-url }}" />
    <link rel="alternate" hreflang="es" href="{{ site.url }}/{{ page.es-url }}" />
    <link rel="alternate" hreflang="de" href="{{ site.url }}/{{ page.de-url }}" />
    <link href="{{ site.url }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Atom Feed">
    <link href="{{ site.url }}/sitemap.xml" type="application/xml" rel="sitemap" title="Sitemap">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    <link rel="shortcut icon" href="{{ site.url }}/images/favicon.png">
    <meta name="p:domain_verify" content="91740243495340830b9e13883e90a9b7"/>

    {% include structured-data.html %}

    {% include gallery-css.html %}

   </head>

{% endif %}

  <body>
    {% if page.amp == true %}
    {% include amp-analytics.html %}
    <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
    {% endif %}
    {% include header.html %}
    <div id="page-wrapper">
      {% include browser-upgrade.html %}

      {% if page.t.teaser %}
        <div class="myteaser">
                <span><strong>{{ page.t.teaser }}</strong></span>
<!--                <div class="space"></div> -->
        </div>
      {% endif %}  
{% if page.amp != true %}      
<!-- Core CSS file 
<link rel="stylesheet" href="{{ site.url }}/css/photoswipe.css"> -->

<!-- Skin CSS file (styling of UI - buttons, caption, etc.)
     In the folder of skin CSS file there are also:
     - .png and .svg icons sprite, 
     - preloader.gif (for browsers that do not support CSS animations) 
<link rel="stylesheet" href="{{ site.url }}/css/default-skin/default-skin.css"> -->
<!-- Core JS file 
<script src="{{ site.url }}/js/photoswipe.min.js" async></script> -->

<!-- UI JS file 
<script src="{{ site.url }}/js/photoswipe-ui-default.min.js" async></script> -->
{% endif %}
<div id="main" role="main">	
	<article class="wrap" itemscope itemtype="https://schema.org/ImageGallery">
		{% if page.image.feature %}
		<div class="page-feature">
			<div class="page-image">
            {% if page.amp == true %}
            <amp-img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image" layout="responsive" width="{{ page.image.width }}" height="{{ page.image.height }}">
            {% else %}
    				<img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
            {% endif %}
				{% if page.image.credit %}{% include image-credit.html %}{% endif %}
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% endif %}
      <meta itemprop="author" content="Daniel von Ledebur">
      <meta itemprop="headline" content="{{ page.subtitle }}">
          <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="{{ site.url }}/images/{{ page.image.thumb }}">
            <meta itemprop="width" content="100%">
            <meta itemprop="height" content="100%">
          </div>
          <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
            <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                <meta itemprop="url" content="https://kite-mallorca.com/images/kite-mallorca_225x225.png">
                <meta itemprop="width" content="100%">
                <meta itemprop="height" content="100%"> 
            </div>
            <meta itemprop="name" content="Kitesurf Mallorca SL">
          </div>

		{% include breadcrumbs.html %}
<!--		<div class="page-title">
			<h1>{{ page.subtitle }}</h1>
		</div> -->
		<div class="inner-wrap">
			<nav class="toc"></nav><!-- /.toc -->
			<div id="content" class="page-content">
				{{ content }}
				{% include gallery-thumbs.html %}
				<footer class="page-footer">
					{% if page.categories %}{% include page-author.html %}{% endif %}
					{% if page.share != false %}{% include share-this.html %}{% endif %}
					{% include page-meta.html %}
				</footer><!-- /.footer -->
				<aside>
					{% if page.comments == true %}{% include comments.html %}{% endif %}
				</aside>
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->
			<section class="video">
				<div class="item">
		{% include snippets/{{ page.lang }}/video.html %}					
				</div>
			</section>
	</article><!-- ./wrap -->
</div><!-- /#main -->
    </div>
      {% include footer.html %}
    
    {% if page.toc == true %}
    <script type="text/javascript">
      $('.toc').toc({
        'selectors': 'h2', //elements to use as headings
        'container': '.page-content', //element to find all selectors in
        'smoothScrolling': true, //enable or disable smooth scrolling on click
        'prefix': 'toc', //prefix for anchor tags and class names
        'onHighlight': function(el) {}, //called when a new section is highlighted 
        'highlightOnScroll': true, //add class to heading that is currently in focus
        'highlightOffset': 100, //offset to trigger the next headline
        'anchorName': function(i, heading, prefix) { //custom function for anchor name
          return prefix+i;
        },
        'headerText': function(i, heading, $heading) { //custom function building the header-item text
          return $heading.text();
        },
        'itemClass': function(i, heading, $heading, prefix) { //custom function for item class
          return $heading[0].tagName.toLowerCase();
        }
      });
    </script>
    {% endif %}

    <section>
{% include gallery-overlay.html %}
</section>

    {% if page.amp == true %}{% else %}
    <script type="text/javascript">
        function JSAtOnload1() {
        var element = document.createElement("script");
            element.src = "{{ site.url }}/js/modernizr.js";
        document.body.appendChild(element);
        }
        if (window.addEventListener)
        window.addEventListener("load", JSAtOnload1, false);
        else if (window.attachEvent)
        window.attachEvent("onload", JSAtOnload1);
        else window.onload = JSAtOnload1;
    </script>
    <script type="text/javascript">
        function JSAtOnload2() {
        var element = document.createElement("script");
            element.src = "{{ site.url }}/js/photoswipe.min.js";
        document.body.appendChild(element);
        }
        if (window.addEventListener)
        window.addEventListener("load", JSAtOnload2, false);
        else if (window.attachEvent)
        window.attachEvent("onload", JSAtOnload2);
        else window.onload = JSAtOnload2;
    </script>
    <script type="text/javascript">
        function JSAtOnload3() {
        var element = document.createElement("script");
            element.src = "{{ site.url }}/js/photoswipe-ui-default.min.js";
        document.body.appendChild(element);
        }
        if (window.addEventListener)
        window.addEventListener("load", JSAtOnload3, false);
        else if (window.attachEvent)
        window.attachEvent("onload", JSAtOnload3);
        else window.onload = JSAtOnload3;
    </script>
    <script type="text/javascript">
        function JSAtOnload4() {
        var element = document.createElement("script");
            element.src = "{{ site.url }}/js/analytics.js";
        document.body.appendChild(element);
        }
        if (window.addEventListener)
        window.addEventListener("load", JSAtOnload4, false);
        else if (window.attachEvent)
        window.attachEvent("onload", JSAtOnload4);
        else window.onload = JSAtOnload4;
    </script>


{% include cookieconsent.html %}

    {% endif %}

  </body>

</html>
    {% if page.amp == true %}{% else %}
    <link href="{{ site.url }}/fonts/lato-v16-latin-regular.woff2" crossorigin>
    <link href="{{ site.url }}/fonts/lato-v16-latin-700.woff2" crossorigin>
    <link rel="stylesheet" href="{{ site.url }}/css/photoswipe.css">
    <link rel="stylesheet" href="{{ site.url }}/css/default-skin/default-skin.css">
    {% endif %}
